<style>
  .graph-warpper {
    height: 210px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
  }
  .graph-warpper.top {
    align-items: flex-start;
  }
  .graph-line {
    --graph-height: var(--full-height, 220px);
    --graph-label-height: var(--label-height, 1.3em);
    --graph-bar-height: calc(var(--graph-height) - var(--graph-label-height));
    display: flex;
    flex-direction: row;
  }
  .graph-line .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .graph-line .column .label {
    border-top: 3px solid #D2D1D1;
    text-align: center;
    padding: 0.2em;
    z-index: 10;
  }
  .graph-line .column .bar {
    --percent: calc(var(--value) / var(--max-value));
    --new-height: calc(var(--graph-bar-height) * var(--percent));
    background-color: #8C8B8B;
    position: relative;
    height: var(--new-height);
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
  }
  .graph-line .column.negative {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .graph-line .column.negative .label {
    border-top: none;
    border-bottom: 3px solid #D2D1D1;
    height: auto;
    z-index: 100;
  }
  .graph-line .column.negative .bar.label-above span {
    transform: translate(5px, 1.5em);
  }

  .graph-line .column .bar.label-above {
    align-items: flex-start;
    color: #5D5C5C;
  }
  .graph-line .column .bar.label-above span {
    transform: translate(5px, -2em);

  }
  .graph-line .column .bar::before {
    position: absolute;
    content: " ";
    background-color: #5D5C5C;
    width: 100%;
    height: 5px;
    top: -5px;
    left: 5px;
    transform: skewX(-60deg);
  }
  .graph-line .column .bar::after {
    position: absolute;
    content: " ";
    background-color: #5D5C5C;
    width: 9px;
    height: 100%;
    top: -2px;
    right: -9px;
    transform: skewY(-29deg);
  }
  .graph-line.graph--green .column .bar {
    background-color: #AEBF00;
  }
  .graph-line.graph--green .column .bar::before {
    background-color: #dae000;
  }
  .graph-line.graph--green .column .bar::after {
    background-color: #96B603;
  }
</style>
