<style>
  .logos {
    padding-left: 40%;
  }
  .logos img {
    height: 60px
  }
  .logos .kez,
  .logos .senec {
    padding: 40px 0 30px;
    position: relative;
    text-align: center;
  }
  .logos .kez::before,
  .logos .senec::before {
    position: absolute;
    content: " ";
    background-color: #B0CA0A;
    height: 8px;
    width: 36%;
    top: 0;
    left: 32%;
  }
  .logos .senec::before {
    background-color: #1A61AC;

  }
  .logos .bsh-logo {
    padding-top: 0;
  }
  .logos .bsh-logo::before {
    display: none;
  }
  .logos .bsh-logo img {
    height: 100px;
  }
</style>

<div class="logos layout horizontal">
  {% if offer.reseller.document_style == "bsh" %}
    <div class="kez bsh-logo flex">
      <img class="" src="{{ data.base_url }}/static/feasibility_study_2020/bsh-logo.jpg" />
    </div>
  {% else %}
    <div class="kez flex">
      <img src="{{ data.base_url }}/static/feasibility_study_2020/kez-logo.jpg" />
    </div>
  {% endif %}
  <div class="senec flex">
    <img src="{{ data.base_url }}/static/feasibility_study_2020/senec-logo.jpg" />
  </div>
</div>
