<style>
  .step {
    display: flex;
    flex-direction: row;
    background-color: #E8E8E8;
    border-bottom: 1px solid #707070;
    padding-left: 50px;
    margin-bottom: 2em;
    position: relative;
  }
  .step__number {
    width: 5em;
    position: relative;
  }
  .step__number  span {
    position: absolute;
    z-index: 2;
    right: 8px;
    width: 32px;
    text-align: center;
    color: #fff;
  }
  .step__number::before {
    position: absolute;
    content: ' ';
    top: -16px;
    bottom: -17px;
    width: 10em;
    background: url("{{ data.base_url }}/static/feasibility_study_2020/step_ribbon.png") no-repeat;
    background-size: contain;
    z-index: 0;
  }
  .step__label {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    padding: 0.1em 1em;
  }
  .step__label2 {
    position: absolute;
    bottom: -1.6em;
    left: 10.1em;
  }
</style>
