
<div class="box" style="left: 68mm; width: 37.5mm; top: 35.6mm; background-color: #f3f7fa; text-align: center; padding-bottom: 2mm;">
  Ist-Situation bei Strom-<br>verbrauch in 30 Jahren
</div>

<div class="box" style="
  top: auto;
  left: 68mm;
  width: 170mm;
  bottom: 108mm;
  height: 55mm;
  background-color: #f3f7fa;">
</div>
<div class="box" style="
  text-align: center;
  top: auto;
  left: 68mm;
  width: 37.5mm;
  bottom: 108mm;
  height: 40mm;
  padding-top: 10mm;
  font-size: 13pt;
  color: #ffffff;
  background-color: #ff9902;">
  52.954 €
</div>

<div class="box" style="top: 35.6mm; left: auto; right: 67.5mm; width: 37.5mm; background-color: #f3f7fa; text-align: center; padding-bottom: 2mm;">
  SENEC-Lösung<br>in 30 Jahren
</div>

<div class="box" style="
  text-align: center;
  top: auto;
  left: auto;
  right: 67.5mm;
  width: 37.5mm;
  bottom: 108mm;
  height: 20mm;
  padding-top: 10mm;
  font-size: 13pt;
  color: #ffffff;
  background-color: #8aaddc;">
  33.954 €
</div>
<div class="box" style="left: 63mm; width: 47.5mm; top: 107.6mm; background-color: #f2f6f9; text-align: center;font-size: 8pt;">
  Stromkosten in 30 Jahren
</div>
<div class="box" style="left: 112.2mm; width: 30mm; top: 128.6mm; background-color: #e3e3e3; text-align: right;">
  52.954 €
</div>
<div class="box" style="left: 112.2mm; width: 30mm; top: 134.6mm; background-color: #ffffff; text-align: right;">
  52.954 €
</div>
<div class="box" style="left: 112.2mm; width: 30mm; top: 152.3mm; background-color: #ff9902; text-align: right; color: #ffffff;">
  52.954 €
</div>
<div class="box" style="left: 244.4mm; width: 30mm; top: 128.6mm; background-color: #e3e3e3; text-align: right;">
  52.954 €
</div>
<div class="box" style="left: 244.4mm; width: 30mm; top: 135.6mm; background-color: #ffffff; text-align: right;">
  52.954 €
</div>
<div class="box" style="left: 244.4mm; width: 30mm; top: 142.3mm; background-color: #ff9902; text-align: right;">
  52.954 €
</div>
<div class="box" style="left: 244.4mm; width: 30mm; top: 148.8mm; background-color: #8aaddc; text-align: right;">
  52.954 €
</div>
<div class="box" style="left: 244.4mm; width: 30mm; top: 155.6mm; background-color: #ffffff; text-align: right;">
  52.954 €
</div>
<div class="foot-date">{{ offer.datetime | dateformat }}</div>
