
<style>
  table { 
    border-spacing: 0;
    border-collapse: separate;
    font-size: inherit;
  }
  .graph-column {
    float: left; 
    width:32%;
    text-align: center;
    position: relative;
  }
  .graph-column .bar {
    height: 50mm;
    position: relative;
  }
  .graph-column .bar > div {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 0 auto;
    background-color: #f19a00;
  }
  .graph-column .bar > div span {
    position: absolute;
    top: 45%;
    width: 100%;
    color: #ffffff;
  }
  table tr.header {
    background-color: #ffffff;
  }
  table tr.header td {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 6px 10px;
  }
  table tr.data {
    background-color: #e3e3e3;
  }
  table tr.data td {
    padding: 10px;
  }
  table tr.footer {
    background-color: #ffffff;
  }
  table tr.footer td {
    border-top: 1px solid #333333;
    padding: 10px;
  }
  table tr td.center {
    text-align: center;
  }
</style>

<div class="box" style="left: 0; width: 100%; top: 25mm; bottom: 0; background-color: #f3f7fa; border-top-right-radius: 35mm;">
  &nbsp;
</div>

<div class="box" style="left: 20.7mm; top: 10.0mm; width: 220mm; font-size: 16pt; color: #0a60aa; letter-spacing: -0.05em;">
  Profitieren Sie heute und in Zukunft von der cleveren Cloud Lösung
</div>

<div class="box" style="left: 20.7mm; top: 38.0mm; width: 255.6mm; display: flex; font-size: 12px;">
  <div style="float: left; width:50%">
    <b>Stromkosten pro Monat:</b><br>
    <br>
    <br>
    <div class="graph-column">
      <div class="bar">
        <div style="height: {{ data.lightcloud.price_today / data.lightcloud.price_full_time * 100 }}%">
          <span>{{ data.lightcloud.price_today | currencyformat }}</span>
        </div>
      </div>
      <hr />
      Heute
    </div>
    <div class="graph-column">
      <div class="bar">
        <div style="height: {{ data.lightcloud.price_half_time / data.lightcloud.price_full_time * 100 }}%">
          <span>{{ data.lightcloud.price_half_time | currencyformat }}</span>
        </div>
      </div>
      <hr />
      in {{ (data.cloud_runtime / 2) | numberformat("de", 0) }} Jahren
    </div>
    <div class="graph-column">
      <div class="bar">
        <div style="height: 100%">
          <span>{{ data.lightcloud.price_full_time | currencyformat }}</span>
        </div>
      </div>
      <hr />
      in {{ data.cloud_runtime }} Jahren
    </div>
  </div>
  <div style="float: left; width:50%">
    <b>Kosten der Cloud-Lösung:</b><br>
    <br>
    <br>
    <div class="graph-column">
      <div class="bar">
        <div style="height: {{ data.lightcloud.price_tomorrow / data.lightcloud.price_full_time * 100 }}%; background-color: #93abdf;">
          <span style="top:-20px; color: #333333">{{ data.lightcloud.price_tomorrow | currencyformat }}</span>
        </div>
      </div>
      <hr />
      Morgen
    </div>
    <div class="graph-column">
      <div class="bar">
        <div style="height: {{ data.lightcloud.price_tomorrow / data.lightcloud.price_full_time * 100 }}%; background-color: #93abdf;">
          <span style="top:-20px; color: #333333">{{ data.lightcloud.price_tomorrow | currencyformat }}</span>
        </div>
      </div>
      <hr />
      in {{ (data.cloud_runtime / 2) | numberformat("de", 0) }} Jahren
    </div>
    <div class="graph-column">
      <div class="bar">
        <div style="height: {{ data.lightcloud.price_tomorrow / data.lightcloud.price_full_time * 100 }}%; background-color: #93abdf;">
          <span style="top:-20px; color: #333333">{{ data.lightcloud.price_tomorrow | currencyformat }}</span>
        </div>
      </div>
      <hr />
      in {{ data.cloud_runtime }} Jahren
    </div>
  </div>
  <br style="clear: both;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <table style="width: 100%;">
    <tr class="header">
      <td></td>
      <td class="center"><b>Heute</b><br>ohne Cloud</td>
      <td class="center"><b>Morgen</b><br>mit Cloud</td>
      <td class="center"><b>in {{ (data.cloud_runtime / 2) | numberformat("de", 0) }} Jahren</b><br>mit Cloud</td>
      <td class="center"><b>in {{ data.cloud_runtime }} Jahren</b><br>mit Cloud</td>
    </tr>
    <tr class="data">
      <td>Stromkosten pro Monat</td>
      <td class="center">{{ data.lightcloud.price_today | currencyformat }}</td>
      <td class="center" style="text-decoration: line-through;">{{ data.lightcloud.price_today | currencyformat }}</td>
      <td class="center" style="text-decoration: line-through;">{{ data.lightcloud.price_half_time | currencyformat }}</td>
      <td class="center" style="text-decoration: line-through;">{{ data.lightcloud.price_full_time | currencyformat }}</td>
    </tr>
    <tr class="data">
      <td>Cloudgebühr pro Monat</td>
      <td class="center">{{ data.lightcloud.price_today | currencyformat }}</td>
      <td class="center">{{ data.lightcloud.price_tomorrow | currencyformat }}</td>
      <td class="center">{{ data.lightcloud.price_tomorrow | currencyformat }}</td>
      <td class="center">{{ data.lightcloud.price_tomorrow | currencyformat }}</td>
    </tr>
    <tr class="footer">
      <td>Monatliche Ersparnis</td>
      <td class="center">0 €</td>
      <td class="center">{{ (data.lightcloud.price_today - data.lightcloud.price_tomorrow) | currencyformat }}</td>
      <td class="center">{{ (data.lightcloud.price_half_time - data.lightcloud.price_tomorrow) | currencyformat }}</td>
      <td class="center">{{ (data.lightcloud.price_full_time - data.lightcloud.price_tomorrow) | currencyformat }}</td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <b style="font-size: 12px;">Bei steigenden Stromkosten wächst Ihre Ersparnis</b>
</div>

<div class="box" style="left: 55.6mm; top: 196.8mm; width: 200mm; font-size: 6pt; letter-spacing: -0.05em;">
  Bezüglich des Netto- oder Bruttoausweises der vorliegenden Angaben wird auf die Erläuterungen im Anhang verwiesen. Haftungsausschluss:
Unsere Online-Rechner werden mit größter Sorgfalt erstellt. Für die Richtigkeit der Ergebnisse können wir jedoch keine Haftung übernehmen
</div>

<div class="foot-date" style="background: transparent; width: 30mm; margin-left: -11mm;">Erstellt am: {{ offer.datetime | dateformat }}</div>
