<style>
  .page2 .cloud {
    position: absolute;
    left: 110.0mm;
    top: 90.7mm;
    font-size: 7pt;
    width: 50mm;
    background-color: #E3E3E3;
  }
</style>
<div class="cloud">
  Cloud Beitrag
</div>
<div class="box" style="left: 55.6mm; top: 191.2mm; font-size: 6pt; letter-spacing: -0.05em; line-height: 1.5em;">
  * für 10 Jahre garantiert<br>
  ** Derzeitig gültige EEG-Vergütungszätze Stand: 02.2020
</div>

<div class="box" style="left: 66.5mm; width: 35mm; top: 55.1mm; background-color: #e3e3e3; text-align: center;">
  {% if data.paket >= 150 %}
    Gewerbe
  {% else %}
    Ein- bis Zweifamilienhaus
  {% endif %}
</div>
<div class="box" style="left: 66.5mm; width: 35mm; top: 61.1mm; background-color: #ffffff; text-align: center;">
  {% if data.paket >= 150 %}
    Gewerblich
  {% else %}
    H0D - Privathaushalt
  {% endif %}
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 66.8mm; background-color: #e3e3e3; text-align: center;">
  {{ data.usage | numberformat('de', 0) }} kWh pro Jahr
</div>
<div class="box" style="left: 23mm; width: 30mm; top: 72.8mm; background-color: #ffffff;">
  Größe der PV-Anlage
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 72.8mm; background-color: #ffffff; text-align: center;">
  Paket {{ data.paket }}
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 78.7mm; background-color: #e3e3e3; text-align: center;">
  {% if data.orientation == "south" %}
    900
  {% else %}
    830
  {% endif %}
  kWh je kWp pro Jahr
</div>
<div class="box" style="left: 23mm; width: 77mm; top: 84.7mm; background-color: #ffffff;">
  &nbsp;
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 96.3mm; padding: 1.5mm 0 1.8mm; background-color: #ffffff; text-align: center;">
  Senec LI laut Paket
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 105.1mm; background-color: #e3e3e3; text-align: center;">
  {{ data.orientation_label }}
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 111.1mm; background-color: #ffffff; text-align: center;">
  ca. 70%
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 117.1mm; background-color: #e3e3e3; text-align: center;">
  70%
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 122.8mm; background-color: #ffffff; text-align: center;">
  {{ data.in_use_date | dateformat }}
</div>
<div class="box" style="left: 71.5mm; width: 30mm; top: 128.5mm; background-color: #e3e3e3; text-align: center;">
  {{ data.in_use_date | dateformat }}
</div>
<div class="box" style="left: 158.6mm; width: 30mm; top: 61mm; background-color: #ffffff; text-align: center;">
  {{ data.conventional_base_cost_per_year | currencyformat }} pro Jahr
</div>
<div class="box" style="left: 158.6mm; width: 30mm; top: 67mm; background-color: #e3e3e3; text-align: center;">
  {{ (100 * data.conventional_base_cost_per_kwh) | numberformat('de', 2) }} cent pro kWh
</div>
<div class="box" style="left: 158.6mm; width: 30mm; top: 72.8mm; background-color: #ffffff; text-align: center;">
  {{ data.cost_increase_rate | percentformat(2) }} pro Jahr
</div>
<div class="box" style="left: 158.0mm; width: 30mm; top: 84.5mm; background-color: #ffffff; text-align: center;">
  {{ data.consumer_count }}
</div>
<div class="box" style="left: 158.0mm; width: 30mm; top: 90.7mm; background-color: #E3E3E3; text-align: center;">
  {{ data.cloud_monthly_cost | currencyformat }} pro Monat*
</div>
<div class="box" style="left: 158.0mm; width: 30mm; top: 108.2mm; background-color: #ffffff; text-align: center;">
  {{ (100 * data.eeg_refund_per_kwh) | numberformat('de', 2) }} cent pro kWh**
</div>
<div class="box" style="left: 158.0mm; width: 30mm; top: 114mm; background-color: #e3e3e3; text-align: center;">
  {% if data.paket >= 55 %}
    Ja
  {% else %}
    Nein
  {% endif %}
</div>
<div class="box" style="left: 158.0mm; width: 30mm; top: 119.8mm; background-color: #ffffff; text-align: center;">
  {{ (100 * data.refund_per_kwh) | numberformat('de', 2) }} cent pro kWh
</div>
<div class="box" style="left: 107.65mm; width: 81mm; top: 124.0mm; height: 6mm; background-color: #e3e3e3;">
  &nbsp;
</div>
<div class="box" style="left: 110.0mm; width: 30mm; top: 125.8mm; text-align: left;">
  Inflationsrate
</div>
<div class="box" style="left: 158.0mm; width: 30mm; top: 125.8mm; text-align: center;">
  {{ data.inflation_rate | percentformat(2) }}
</div>
<div class="box" style="left: 246.0mm; width: 30mm; top: 87.1mm; background-color: #ffffff; text-align: center;">
  {{ data.pv_offer_total | currencyformat }}
</div>
<div class="box" style="left: 246.0mm; width: 30mm; top: 99.1mm; background-color: #ffffff; text-align: center;">
  {{ data.loan_interest_rate | percentformat }} pro Jahr
</div>
<div class="box" style="left: 197.0mm; width: 30mm; top: 99.1mm; background-color: #ffffff; text-align: center;">
  Soll-Zinssatz (Beispiel)
</div>
<div class="box" style="left: 246.0mm; width: 30mm; top: 105.1mm; background-color: #E3E3E3; text-align: center;">
  {{ data.loan_total | currencyformat }}
</div>
<div class="foot-date">{{ offer.datetime | dateformat }}</div>
