
<h3>Angebote &amp; Zusatz</h3>

{% for offer in offers %}
  {% if offer.pdf %}
    <a href="{{ offer.pdf.public_link }}" target="_blank">{{ offer.pdf.filename }}</a><br>
  {% endif %}
  {% if offer.feasibility_study_pdf %}
    <a href="{{ offer.feasibility_study_pdf.public_link }}" target="_blank">{{ offer.pdf.filename }}</a><br>
  {% endif %}
{% endfor %}
<br>

{% for lead_comment in lead_comments %}
    {% if lead_comment.attachments %}
        <b>Angebot vom {{ lead_comment.datetime }}</b><br>
        {% for attachment in lead_comment.attachments %}
            <a href="{{ attachment.public_link }}" target="_blank">{{ attachment.filename }}</a><br>
        {% endfor %}
        <br>
    {% endif %}

{% endfor %}
