
<h3>Angebote &amp; Zusatz</h3>

{% for history in histories %}
  <b>{{ history.datetime | datetimeformat }}</b><br>
  {% if history.data.pdf_summary_link %}
    <a href="{{ history.data.pdf_summary_link }}" target="_blank">Energiekonzept</a><br>
  {% endif %}
  {% if history.data.pdf_contract_summary_part4_file_link %}
    <a href="{{ history.data.pdf_contract_summary_part4_file_link }}" target="_blank">Heizungskonzept</a><br>
  {% endif %}
  {% if history.data.pdf_contract_summary_part4_1_file_link %}
    <a href="{{ history.data.pdf_contract_summary_part4_1_file_link }}" target="_blank">Technischer Aufnahmebogen</a><br>
  {% endif %}
  {% if history.data.pdf_quote_summary_link %}
    <a href="{{ history.data.pdf_quote_summary_link }}" target="_blank">Angebote</a><br>
  {% endif %}
  {% if history.data.pdf_contract_summary_link %}
    <a href="{{ history.data.pdf_contract_summary_link }}" target="_blank">Vertragsunterlagen</a><br>
  {% endif %}
  {% if history.data.pdf_datasheets_link %}
    <a href="{{ history.data.pdf_datasheets_link }}" target="_blank">Datenblätter</a><br>
  {% endif %}
  <br>
{% endfor %}


{% for offer in offers %}
  <b>{{ offer.datetime | dateformat }}</b><br>
  {% if offer.pdf %}
    <a href="{{ offer.pdf.public_link }}" target="_blank">{{ offer.pdf.filename }}</a><br>
  {% endif %}
  {% if offer.cloud_pdf %}
    <a href="{{ offer.cloud_pdf.public_link }}" target="_blank">{{ offer.cloud_pdf.filename }}</a><br>
  {% endif %}
  {% if offer.feasibility_study_pdf %}
    <a href="{{ offer.feasibility_study_pdf.public_link }}" target="_blank">{{ offer.feasibility_study_pdf.filename }}</a><br>
  {% endif %}
  <br>
{% endfor %}
<br>

{% for lead_comment in lead_comments %}
    {% if lead_comment.attachments %}
        <b>Angebot vom {{ lead_comment.datetime }}</b><br>
        {% for attachment in lead_comment.attachments %}
            <a href="{{ attachment.public_link }}" target="_blank">{{ attachment.filename }}</a><br>
        {% endfor %}
        <br>
    {% endif %}

{% endfor %}
