<style>
  html, body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
  }
  .page {
    /* width: 1121px; height: 792px */
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .layout.horizontal {
    display: flex;
    flex-direction: row;
  }
  .flex {
    flex: 1;
  }
  h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
  }
  small {
    font-size: 12px;
  }
  .align-center {
    text-align: center;
  }
  .align-right {
    text-align: right;
  }

</style>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300&display=swap" rel="stylesheet">
