<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PV-Angebot</title>
  {% include('quote_calculator/generator/style.html') %}
  {% include('quote_calculator/generator/elements/table.html') %}
  <style>
      h1 {
          font-size: 1.6em;
          font-weight: normal;
          padding-top: 2em;
      }
      h2 {
        font-size: 1.4em;
        font-weight: normal;
        background-color: #b1ca07;
        padding: 0.5em 1em;
        margin: 2em 0 0.8em;
        color: #fff;
      }
      .page {
          page-break-before: always;
          padding: 4em 0;
      }
      .radio-elements .image {
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .radio-elements .image img {
        width: auto;
        height: 100%;
      }
      .radio-elements .image.radio-image3 {
        height: 5.8em;
      }
      .radio-elements .image.radio-image2 {
        height: 17vw;
      }
      .imagegrid {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .imagegrid > * {
        flex: 0 1 31%;
        margin-right: 1em;
      }
      .imagegrid img {
        width: 100%;
      }
  </style>
</head>
<body>
    <div style="padding:0 4em 0; line-height: 1.5em;">
        <br>
        <br>
        <div class="layout horizontal" style="padding-bottom: 1em; border-bottom: 1px solid #ccc">
            <h1 class="flex">Technischer Aufnahmebogen</h1>
            {% include "offer/logo-kez.html" %}
        </div>
        <br>
        <br>
        <br>
        <b>Konfiguration - Projektierung Photovoltaik</b>
        <p>
            Unsere Projektierer achten beim belegen der Dachflächen, auf verschiedenste Gegebenheiten. Hierbei spielen die Neigung der Dachflächen,
            Ausrichtung, die Verschattung aber auch Kompatibilität mit dem Speicher und oder Wechselrichter eine wichtige Rolle. Standort und Windlast
            haben ebenfalls einen Einfluss auf die Belegung.<br>
            <br>
            Zudem wollen wir Ihre Wünsche versuchen bestmöglich zu berücksichtigen, deshalb füllen Sie dieses Konfigurationsblatt Photovoltaik mit Ihrem
            Energieberater sorgfältig aus.
        </p>
        <br>
        Projektaufnahme durch Fachberater: {{ data.assigned_user.NAME }} {{ data.assigned_user.LAST_NAME }}<br>
        <br>
        Zu Angebotsnummer: {{ data.number }}<br>
        <br>
        <table>
            <tr>
                <th>Kunde</th>
                <th>Aufbauadresse entspricht Kundenadresse?</th>
            </tr>
            <tr>
                <td>Name, Vorname: {{ data.contact.fistname }} {{ data.contact.lastname }}</td>
                <td>{% if data.street %}Nein{% else %}Ja{% endif %}</td>
            </tr>
            <tr>
                <td>Straße: {{ data.contact.street }} {{ data.contact.street_nb }}</td>
                <td>Straße: {{ data.street }}  {{ data.street_nb }}</td>
            </tr>
            <tr>
                <td>PLZ, Ort: {{ data.contact.zip }} {{ data.contact.city }}</td>
                <td>PLZ, Ort: {{ data.zip }}  {{ data.city }}</td>
            </tr>
            <tr>
                <td>Tel.: {% if data.contact.phone %}{{ data.contact.phone.0.VALUE }}{% endif%}</td>
                <td></td>
            </tr>
            <tr>
                <td>E-Mail: {{ data.contact.email.0.VALUE }}</td>
                <td></td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <b>Datenschutzeinwilligungserklärung</b>
        <p>
            Im Rahmen dieses Beratungsgespräches werden in diesem Technischen Anforderungsbogen personenbezogene Daten erhoben.
            Ich bin damit einverstanden, dass der Solarfachberater diese erhobenen Daten zu Zwecken der Planung und Konfigurierung meiner Solarstromanlage und deren Anmeldung bei den zuständigen Behörden verarbeitet und nutzt. Eine darüber hinaus gehende Verarbeitung und Nutzung ist
            nicht gestattet. Eine spätere Nutzung erfolgt ausschließlich zu den vorgenannten Zwecken.
        </p>
        <p>
            Diese Einwilligung gilt unabhängig vom Zustandekommen des Auftrags sowie auch für zukünftige Anträge, kann aber jederzeit von mir
            widerrufen werden. Eine darüber hinaus gehende verarbeitung und Nutzung der Daten ist nicht gestattet.
        </p>
        <div class="page">
            <h2>Gebäudebeschreibung</h2>

            <table>
                <tr>
                    <th>Gebäudeart</th>
                    <th>{{ data.data.tab_building_type }}</th>
                </tr>
                <tr>
                    <th>Keller mit Außenzugang</th>
                    <th>{% if data.data.tab_has_cellar_external_entrance %}Ja{% else %}Nein{% endif %}</th>
                </tr>
            </table>

            <h2>Elektroinstallation</h2>
            <table>
                <tr>
                    <th>Besteht eine Oberleitung:</th>
                    <th>{{ data.data.oberleitung_vorhanden | boolformat }}</th>
                </tr>
                <tr>
                    <th>Als Kabelkanal aussen am Haus soll folgende Farbe verwendet werden:</th>
                    <th> {{ data.data.kabelkanal_color }}</th>
                </tr>
                {% if data.data.is_new_building %}
                    <tr>
                        <th>Hauptzählernummer (Malo ID)</th>
                        <th>{{ data.data.power_meter_number }} ({{ data.data.malo_id }})</th>
                    </tr>
                    {% if data.data.heater_usage > 0 %}
                        <tr>
                            <th>Wärmecloud Zählernummer</th>
                            <th>{{ data.data.heatcloud_power_meter_number }}</th>
                        </tr>
                    {% endif %}
                    {% if len(data.data.consumers) > 0 %}
                        {% for consumer in data.data.consumers %}
                            <tr>
                                <th>Consumer Zählernummer (Malo ID)</th>
                                <th>{{ consumer.power_meter_number }} ({{ consumer.malo_id }})</th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <th>Zählerzusammenlegung gewünscht</th>
                        <th>{% if data.data.tab_zahlerzusammenlegung %}Ja{% else %}Nein{% endif %}</th>
                    </tr>
                    {% if data.data.tab_zahlerzusammenlegung %}
                        <tr>
                            <th>alte Nebenzählernummer 1</th>
                            <th>{{ data.data.tab_extra_counter_number1 }}</th>
                        </tr>
                        <tr>
                            <th>alte Nebenzählernummer 2</th>
                            <th>{{ data.data.tab_extra_counter_number2 }}</th>
                        </tr>
                        <tr>
                            <th>alte Nebenzählernummer 3</th>
                            <th>{{ data.data.tab_extra_counter_number3 }}</th>
                        </tr>
                    {% endif %}
                    {% if data.data.power_meter_number_extra1 or data.data.power_meter_number_extra2 %}
                        <tr>
                            <th colspan="2"><b>Extra Zähler</b></th>
                        </tr>
                        {% if data.data.power_meter_number_extra1 %}
                            <tr>
                                <th>{{ data.data.power_meter_number_extra1_label }}</th>
                                <th>{{ data.data.power_meter_number_extra1 }}</th>
                            </tr>
                        {% endif %}
                        {% if data.data.power_meter_number_extra2 %}
                            <tr>
                                <th>{{ data.data.power_meter_number_extra2_label }}</th>
                                <th>{{ data.data.power_meter_number_extra2 }}</th>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <tr>
                    <th>Höhe des Raums mit Zählerschrank</th>
                    <th>{{ data.data.tab_roomheight_power_cabinet }}cm</th>
                </tr>
                <tr>
                    <th>Standort HAK</th>
                    <th>{{ data.data.tab_hak_position }}</th>
                </tr>
                <tr>
                    <th>Entfernung HAK zum Zählerschrank in Meter</th>
                    <th>{{ data.data.tab_distance_hak }}m</th>
                </tr>
            </table>
            <div style="padding: 0 1em;">
                <b>Extra Stromverbraucher</b><br/>
                {% for option in data.data.tab_power_usage_options %}
                    - {{ option }}<br/>
                {% endfor %}
            </div>
            <div style="padding: 0 1em;">
                <b>kWh Gesamtleistung (Großverbraucher)</b><br/>
                {{ data.data.tab_power_usage_total_power }}
            </div>
            {% if "wallbox" in data.data.extra_options %}
                <div style="padding: 0 1em;">
                    <b>Wallbox Montageort</b><br/>
                    {{ data.data.wallbox_mountpoint }}
                </div>
            {% endif %}

            <h2>Bilder Elektro</h2>
            <div class="layout horizontal imagegrid">
                {% if data.tab_img_zahlerschrank_offen_link %}
                    <div>
                        <div>Zählerschrank offen</div>
                        <img src="{{ data.tab_img_zahlerschrank_offen_link_small }}" />
                        <div><a href="{{ data.tab_img_zahlerschrank_offen_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_zahlerschrank_offen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_zahlerschrank_geschlossen_link %}
                    <div>
                        <div>Zählerschrank Umgebung</div>
                        <img src="{{ data.tab_img_zahlerschrank_geschlossen_link_small }}" />
                        <div><a href="{{ data.tab_img_zahlerschrank_geschlossen_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_zahlerschrank_geschlossen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_zahlerschrank_typshild_link %}
                    <div>
                        <div>Typenschild Zählerschrank</div>
                        <img src="{{ data.tab_img_zahlerschrank_typshild_link_small }}" />
                        <div><a href="{{ data.tab_img_zahlerschrank_typshild_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_zahlerschrank_typshild }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_hak_innen_link %}
                    <div>
                        <div>Hausanschluss (HAK) innen</div>
                        <img src="{{ data.tab_img_hak_innen_link_small }}" />
                        <div><a href="{{ data.tab_img_hak_innen_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_hak_innen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_hak_aussen_link %}
                    <div>
                        <div>Hausanschluss (HAK) außen</div>
                        <img src="{{ data.tab_img_hak_aussen_link_small }}" />
                        <div><a href="{{ data.tab_img_hak_aussen_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_hak_aussen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_zahlerschrank_zahlernummer_link %}
                    <div>
                        <div>Hauptzähler mit lesbarer Zählernummer</div>
                        <img src="{{ data.tab_img_zahlerschrank_zahlernummer_link_small }}" />
                        <div><a href="{{ data.tab_img_zahlerschrank_zahlernummer_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_zahlerschrank_zahlernummer }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_zahlerschrank_warmezahlernummer_link %}
                    <div>
                        <div>Wärmezähler mit lesbarer Zählernummer</div>
                        <img src="{{ data.tab_img_zahlerschrank_warmezahlernummer_link_small }}" />
                        <div><a href="{{ data.tab_img_zahlerschrank_warmezahlernummer_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_zahlerschrank_warmezahlernummer }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_zahlerschrank_zahlernummer1_link %}
                    <div>
                        <div>Extra Zähler 1 mit lesbarer Zählernummer</div>
                        <img src="{{ data.tab_img_zahlerschrank_zahlernummer1_link_small }}" />
                        <div><a href="{{ data.tab_img_zahlerschrank_zahlernummer1_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_zahlerschrank_zahlernummer1 }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_zahlerschrank_zahlernummer2_link %}
                    <div>
                        <div>Extra Zähler 2 mit lesbarer Zählernummer</div>
                        <img src="{{ data.tab_img_zahlerschrank_zahlernummer2_link_small }}" />
                        <div><a href="{{ data.tab_img_zahlerschrank_zahlernummer2_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_zahlerschrank_zahlernummer2 }}</div>
                    </div>
                {% endif %}
            </div>
            <b>Raum für mögliche Aufstellorte (Speicher, Wechselrichter, neuer Zählerschrank)</b>
            <div class="layout horizontal imagegrid">
                {% if data.tab_img_aufstellort1_link %}
                    <div>
                        <div>Aufstellort 1</div>
                        <img src="{{ data.tab_img_aufstellort1_link_small }}" />
                        <div><a href="{{ data.tab_img_aufstellort1_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_aufstellort1 }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_aufstellort2_link %}
                    <div>
                        <div>Aufstellort 2</div>
                        <img src="{{ data.tab_img_aufstellort2_link_small }}" />
                        <div><a href="{{ data.tab_img_aufstellort2_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_aufstellort2 }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_panorama_link %}
                    <div>
                        <div>Panoramaaufnahme</div>
                        <img src="{{ data.tab_img_panorama_link_small }}" />
                        <div><a href="{{ data.tab_img_panorama_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_panorama }}</div>
                    </div>
                {% endif %}
            </div>
            <b>Kabelweg / Erdweg von Garage, Scheune usw.</b>
            <div class="layout horizontal imagegrid">
                {% if data.tab_img_kabelweg1_link %}
                    <div>
                        <div>Kabelweg 1</div>
                        <img src="{{ data.tab_img_kabelweg1_link_small }}" />
                        <div><a href="{{ data.tab_img_kabelweg1_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_kabelweg1 }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_kabelweg2_link %}
                    <div>
                        <div>Kabelweg 2</div>
                        <img src="{{ data.tab_img_kabelweg2_link_small }}" />
                        <div><a href="{{ data.tab_img_kabelweg2_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_kabelweg2 }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_kabelweg3_link %}
                    <div>
                        <div>Kabelweg 3</div>
                        <img src="{{ data.tab_img_kabelweg3_link_small }}" />
                        <div><a href="{{ data.tab_img_kabelweg3_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_kabelweg3 }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_kabelweg4_link %}
                    <div>
                        <div>Kabelweg 4</div>
                        <img src="{{ data.tab_img_kabelweg4_link_small }}" />
                        <div><a href="{{ data.tab_img_kabelweg4_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_kabelweg4 }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_kabelweg5_link %}
                    <div>
                        <div>Kabelweg 5</div>
                        <img src="{{ data.tab_img_kabelweg5_link_small }}" />
                        <div><a href="{{ data.tab_img_kabelweg5_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_kabelweg5 }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_kabelweg6_link %}
                    <div>
                        <div>Kabelweg 6</div>
                        <img src="{{ data.tab_img_kabelweg6_link_small }}" />
                        <div><a href="{{ data.tab_img_kabelweg6_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_kabelweg6 }}</div>
                    </div>
                {% endif %}
            </div>
            {% if "wallbox" in data.data.extra_options %}
                <b>Kabelwege / Platz für Wallbox</b>
                <div class="layout horizontal imagegrid">
                    {% if data.tab_img_kabelweg_wallbox_1_link %}
                        <div>
                            <div>Kabelweg Wallbox 1</div>
                            <img src="{{ data.tab_img_kabelweg_wallbox_1_link_small }}" />
                            <div><a href="{{ data.tab_img_kabelweg_wallbox_1_link }}" target="_blank">Link</a></div>
                            <div>{{ data.data.tab_comment_kabelweg_wallbox_1 }}</div>
                        </div>
                    {% endif %}
                    {% if data.tab_img_kabelweg_wallbox_2_link %}
                        <div>
                            <div>Kabelweg Wallbox 2</div>
                            <img src="{{ data.tab_img_kabelweg_wallbox_2_link_small }}" />
                            <div><a href="{{ data.tab_img_kabelweg_wallbox_2_link }}" target="_blank">Link</a></div>
                            <div>{{ data.data.tab_comment_kabelweg_wallbox_2 }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <b>Sonstige Bilder (andere Besonderheiten)</b>
            <div class="layout horizontal imagegrid">
                {% if data.tab_img_vorhandene_wallbox_link %}
                    <div>
                        <div>Bereits vorhandene Wallbox</div>
                        <img src="{{ data.tab_img_vorhandene_wallbox_link_small }}" />
                        <div><a href="{{ data.tab_img_vorhandene_wallbox_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_vorhandene_wallbox }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_große_verbraucher_link %}
                    <div>
                        <div>Große Verbraucher</div>
                        <img src="{{ data.tab_img_große_verbraucher_link_small }}" />
                        <div><a href="{{ data.tab_img_große_verbraucher_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_große_verbraucher }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_bereits_bestehende_pv_link %}
                    <div>
                        <div>Bereits bestehende PV - Anlage ( mit Typenschild)</div>
                        <img src="{{ data.tab_img_bereits_bestehende_pv_link_small }}" />
                        <div><a href="{{ data.tab_img_bereits_bestehende_pv_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_bereits_bestehende_pv }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_grundriss_link %}
                    <div>
                        <div>Falls vorhanden Grundriss (Bei Neubau immer!)</div>
                        <img src="{{ data.tab_img_grundriss_link_small }}" />
                        <div><a href="{{ data.tab_img_grundriss_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_grundriss }}</div>
                    </div>
                {% endif %}
            </div>
            <h2>Bilder Haus</h2>
            <div class="layout horizontal imagegrid">
                {% if data.tab_img_hausfront1_link %}
                    <div>
                        <div>Hausfront 1</div>
                        <img src="{{ data.tab_img_hausfront1_link_small }}" />
                        <div><a href="{{ data.tab_img_hausfront1_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_hausfront1_offen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_hausfront2_link %}
                    <div>
                        <div>Hausfront 2</div>
                        <img src="{{ data.tab_img_hausfront2_link_small }}" />
                        <div><a href="{{ data.tab_img_hausfront2_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_hausfront2_offen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_hausfront3_link %}
                    <div>
                        <div>Hausfront 3</div>
                        <img src="{{ data.tab_img_hausfront3_link_small }}" />
                        <div><a href="{{ data.tab_img_hausfront3_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_hausfront3_offen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_gartenansicht1_link %}
                    <div>
                        <div>Rückseite 1</div>
                        <img src="{{ data.tab_img_gartenansicht1_link_small }}" />
                        <div><a href="{{ data.tab_img_gartenansicht1_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_gartenansicht1_offen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_gartenansicht2_link %}
                    <div>
                        <div>Rückseite 2</div>
                        <img src="{{ data.tab_img_gartenansicht2_link_small }}" />
                        <div><a href="{{ data.tab_img_gartenansicht2_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_gartenansicht2_offen }}</div>
                    </div>
                {% endif %}
                {% if data.tab_img_gartenansicht3_link %}
                    <div>
                        <div>Rückseite 3</div>
                        <img src="{{ data.tab_img_gartenansicht3_link_small }}" />
                        <div><a href="{{ data.tab_img_gartenansicht3_link }}" target="_blank">Link</a></div>
                        <div>{{ data.data.tab_comment_gartenansicht3_offen }}</div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% for roof in data.data.roofs %}
            <div class="page">
                <h2>1. Dachbeschreibung</h2>
                <div class="layout horizontal radio-elements">
                    <div style="margin-right: 1em;">
                        Name der zu bebauenden Fläche:<br>
                        {{ roof.label }}
                    </div>
                    <div style="margin-right: 1em;">
                        Traufhöhe:<br>
                        {{ roof.traufhohe }}
                    </div>
                    <div style="margin-right: 1em;">
                        Dachtyp:
                        <div class="image"><img src="{{ data.base_url }}static/tab/{{ roof.roof_type | lower }}.jpeg" /></div>
                        {{ roof.roof_type }}
                    </div>
                    <div style="margin-right: 1em;">
                        Dacheindeckung:
                        <div class="image"><img src="{{ data.base_url }}static/tab/{{ roof.roof_topping | lower }}.jpeg" /></div>
                        <b>{{ roof.roof_topping }}</b><br>
                        {% if roof.roof_topping in ['Tonziegel', 'Betonziegel', 'Biberschwanz'] %}
                            Decklänge: {{ roof.decklange }} cm<br>
                            Deckbreite: {{ roof.deckbreite }} cm<br />
                        {% endif %}
                        {% if roof.roof_topping in ['Tonziegel', 'Betonziegel'] %}
                            {{ roof.roof_topping_fixture }}
                        {% endif %}
                    </div>
                    <div>
                        Dämmung:
                        <div class="image"><img src="{{ data.base_url }}static/tab/{{ roof.insulation_type | replace('ä', 'a') | lower }}.jpeg" /></div>
                        <b>{{ roof.insulation_type }}</b><br>
                        {% if roof.insulation_type in ['Aufdachdämmung'] %}
                            <div>Dämmstärke: {{ roof.insulation_thickness }} cm</div>
                            <div>Dämmmaterial: {{ roof.insulation_material }}</div>
                        {% endif %}
                    </div>
                </div>

                <h2>Dachbilder</h2>
                <div class="layout horizontal imagegrid">
                    {% if roof.tab_img_dachflache1_link %}
                        <div>
                            Dach von Vorne
                            <img src="{{ roof.tab_img_dachflache1_link_small }}" />
                            <div><a href="{{ roof.tab_img_dachflache1_link }}" target="_blank">Link</a></div>
                            <div>{{ roof.tab_comment_dachflache1 }}</div>
                        </div>
                    {% endif %}
                    {% if roof.tab_img_dachflache2_link %}
                        <div>
                            Dach von der Seite
                            <img src="{{ roof.tab_img_dachflache2_link_small }}" />
                            <div><a href="{{ roof.tab_img_dachflache2_link }}" target="_blank">Link</a></div>
                            <div>{{ roof.tab_comment_dachflache2 }}</div>
                        </div>
                    {% endif %}
                    {% if roof.tab_img_dachflache3_link %}
                        <div>
                            Dach von Hinten
                            <img src="{{ roof.tab_img_dachflache3_link_small }}" />
                            <div><a href="{{ roof.tab_img_dachflache3_link }}" target="_blank">Link</a></div>
                            <div>{{ roof.tab_comment_dachflache3 }}</div>
                        </div>
                    {% endif %}
                    {% if roof.tab_img_dachflache4_link %}
                        <div>
                            Sparrenansicht und Dicke
                            <img src="{{ roof.tab_img_dachflache4_link_small }}" />
                            <div><a href="{{ roof.tab_img_dachflache4_link }}" target="_blank">Link</a></div>
                            <div>{{ roof.tab_comment_dachflache4 }}</div>
                        </div>
                    {% endif %}
                    {% if data.tab_img_solaredge_link %}
                        <div>
                            SolarEdge 3D Ansicht
                            <img src="{{ data.tab_img_solaredge_link_small }}" />
                            <div><a href="{{ data.tab_img_solaredge_link }}" target="_blank">Link</a></div>
                            <div>{{ data.data.tab_comment_solaredge }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <br>
        <br>
        <div class="layout horizontal">
          <div class="flex">
            <div style="color: #fefefe; border-bottom: 1px solid #000; width: 300px;">__main_sig__</div>
            Ort, Datum Unterschrift Kunde
          </div>
        </div>
    </div>
</body>
</html>


