<html>
<head></head>
<body>
  install
  <script src="//api.bitrix24.com/api/v1/"></script>
  <script>
    BX24.init(function(){
      BX24.callMethod(
        "placement.bind",
        {
          "PLACEMENT": "CRM_LEAD_DETAIL_TAB",
          "TITLE": "Aufnahmebogen{% if env in ['dev', 'staging'] %} ({{ env }}){% else %} (beta){% endif %}",
          "HANDLER": "https://{{ domain }}/quote_calculator",
        },
        function(result) {
          if (result.error()){
            console.error(result.error());
          }else{
            console.dir(result.data());
            BX24.installFinish();
          }
          console.log(BX24.placement.info());
        }
      );
    });
  </script>
</body>
</html>
