<style>
  .page_blank_note {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 0.7em;
  }
  .page_cover .info {
    position: absolute;
    left: 56px;
    top: 547px;
    font-size: 0.9em;
  }
</style>

<div class="page_cover">
  <div class="info">
    {% if data.contact %}
      {% if data.data.is_commercial %}
        Firma<br>
      {% endif %}
      {{ data.contact | addressblock2 | nltobr }}
    {% endif %}
    <br>
    Erstellt am: {{ data.datetime | dateformat }}
  </div>
</div>

<div class="page_blank_note">
  &nbsp;
</div>

{% include('feasibility_study_2020/elements/page_counter2.html') %}