{% extends "commissions/template.html" %}


{% block content %}
  <table>
    <thead>
      <tr>
        <th width="30%">Verkäufer</th>
        <th>Verkaufsrate diesen Monat</th>
        <th>Leads diesen Monat</th>
        <th>Aufträge diesen Monat</th>
      </tr>
    </thead>
    <tbody>
      {% for reseller in resellers -%}
      <tr>
        <td><a href="/bitrix24/commissions/{{ reseller.id }}?AUTH_ID={{ auth_info.auth_code }}&DOMAIN={{ auth_info.domain_raw }}">{{ reseller.name }}</a></td>
        <td>
          {% if reseller.provided_leads_month_count > 0 -%}
            {{ (reseller.won_leads_month / reseller.provided_leads_month_count) * 100 | percentformat }}
          {% else %}
            {{ 0 | percentformat }}
          {% endif %}
        </td>
        <td>{{ reseller.provided_leads_month_count }}</td>
        <td>{{ reseller.won_leads_month }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endblock %}
