<html>
  <head>
    <meta charset="UTF-8">
    <meta name="pdfkit-page-size" content="A4"/>
    <meta name="pdfkit-footer-right" content="[page] von [pages]"/>
    <meta name="pdfkit-footer-font-size" content="9"/>
    <meta name="pdfkit-margin-bottom" content="10"/>
    <meta name="pdfkit-margin-top" content="10"/>
    <meta name="pdfkit-disable-smart-shrinking" content=""/>
    <style>
      body {
        font-size: 12px;
        line-height: 1.4em;
        min-height: calc(100vh - 30px);
        padding: 0;
        margin: 1em;
        font-family: Arial, Helvetica, sans-serif;
      }
      h2 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #e0e0e0;
        padding: 0.4em 0.6em;
      }
      table {
        width: 100%;
        font-size: 12px;
      }
      table thead { display: table-header-group; }
      .table--th {
        background-color: #e0e0e0;
        text-align: left;
      }
      table thead th {
        page-break-after: avoid;
      }
      table th,
      table td {
        padding: 0.4em 0.6em;
        vertical-align: top;
      }
      table.narrow td {
        padding: 0.1em 0.2em;
        vertical-align: top;
      }
      table td {
        border-bottom: 1px solid #cccccc;
        font-size: 1em;
      }
      table .no-underline td {
        border-bottom: none;
      }
      table th.right,
      table td.right {
        text-align: right;
      }
      table .foot-line {
        background-color: #e0e0e0;
        font-weight: bold;

      }
      table tr {
        page-break-inside: auto;
      }
    </style>
  </head>
  <body>
    {% if offer.reseller.document_style == "bsh" %}
      {% set heading = "BSH.Cloud Konfiguration" %}
    {% elif offer.reseller.document_style == "eeg" %}
      {% set heading = "EEG.Cloud Konfiguration" %}
    {% else %}
      {% set heading = "C.Cloud Konfiguration" %}
    {% endif %}
    {% include "offer/head.html" %}
    <br>
    <table cellspacing="0" class="table table-condensed" style="width: 100%;">
      <thead>
        <tr>
          <th class="table--th" width="1%">Pos.</th>
          <th class="table--th" width="1%">Gewählt</th>
          <th class="table--th">Bezeichnung</th>
          <th class="table--th right">Opt. mtl. Preis</th>
          <th class="table--th right">mtl. Beitrag</th>
        </tr>
      </thead>
      <tbody>
        {% set index = {'index': 1} %}
        {% set total = {'total': 0} %}
        {% for item in items %}
          <tr>
            <td class="border-right">{{ index.index }}</td>
            <td class="border-right">
              (
              {% if item.quantity > 0 %}
              x
              {% else %}
              &nbsp;&nbsp;
              {% endif %}
              )
              </td>
            <td class="border-right">
              <b style="display: block;">{{ item.label }}</b>
              {{ item.description | safe }}
            </td>
            <td class="border-right right">
              {%- if item.quantity == 0 -%}
                {{ item.single_price | currencyformat }}
              {%- endif -%}
            </td>
            <td class="right">
              {%- if item.total_price != 0 -%}
                {{ item.total_price | currencyformat }}
              {%- endif -%}
            </td>
          </tr>
          {% if total.update({"total": total.total + item.total_price }) %} {% endif %}
          {% if index.update({"index": index.index + 1 }) %} {% endif %}
        {% endfor %}
        <tr class="foot-line">
          <td class="border-right right" colspan="4">Monatlicher Beitrag für (a) - ZERO:</td>
          <td class="right">{{ total.total | currencyformat }}</td>
        </tr>
        <tr>
          <td class="border-right right" colspan="4">Monatliche Gesamtkosten:</td>
          <td class="right">{{ total.total | currencyformat }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <small>
      Sollten Sie Förderungen in Anspruch nehmen, die die Anlagenleistung weiter als 70% reduzieren:
      {% if offer.reseller.document_style == "bsh" -%}
        So
      {% else %}
        z.B. NRW Progres, so
      {% endif %}
       erhöht sich die monatliche Grundgebühr der Cloud um 10,- Euro !<br>
      <br>
      Die oben beschrieben Werte beziehen Sich immer auf ein vollständiges Kalenderjahr (12 Monate).<br>
      Beginnt die Cloud nicht zum 1.1. eines Jahres, so werden die Werte anteilsmässig berechnet.<br>
      <b>Beispiel:</b> 4000 kWh  Jahresverbrauch - der Vertrag beginnt zu. 1.6 eines Jahres so kann 2000 kWh bis zum 31.12 (Abrechnungsdatum) genutzt werden.

    </small>

    <div style="page-break-after: always;"></div>

    <h2>Verbindliche Bestellung</h2>
    <p>Diese Ausarbeitung ist geistiges Eigentum des Unternehmens. Die Unterlagen d&uuml;rfen gem&auml;&szlig; &sect;&sect; 1,2 und 11 des UrhG und &sect; 823 BGB ohne Genehmigung des Unternehmens weder zur Ausschreibung benutzt, noch Dritten zur Einsicht &uuml;berlassen oder in sonstiger Weise inhaltlich mitgeteilt werden. Es gelten unsere allgemeinen Gesch&Atilde;&curren;ftsbedingungen. Gerichtsstand ist Korbach.</p>
    <p>
      {% if offer.reseller.document_style in ["bsh", "eeg"] %}
        Das Angebot ist ab Erstellung 2 Wochen g&uuml;ltig.
      {% endif %}
      Ein verbindlicher Vertrag kommt erst zu Stande, nachdem das unterschriebene
      {% if offer.reseller.document_style in ["bsh", "eeg"] -%}
        Leistungsverzeichnis/
      {%- endif -%}Angebot von der Korbacher Energiezentrum GmbH &amp; Co. KG per Auftragsbest&auml;tigung angenommen wurde. Etwaige Nebenabreden (schriftlich und/oder m&uuml;ndlich) sind unwirksam, sofern sie nicht ausdr&uuml;cklich schriftlich durch den Gesch&auml;ftsf&uuml;hrer best&auml;tigt worden sind.
    </p>
    <p>Als Zahlungsbedingungen werden vereinbart:</p>
    <p>monatliche Zahlungsweise ab Eintritt in die Cloud</p>
    <br>
    {% if offer.reseller.document_style != "bsh" -%}
      <p>Hiermit bestelle ich | wir die angebotene Cloud. Ich bin damit unabhängig vom traditionellen Energieversorger. Die EEG Einspeisevergütung trete ich hiermit ab und „befülle“ damit meine Cloud. Somit kann ich den angegebenen Gesamtverbrauch (a) (Direkt verbrauchter Strom aus PV Anlage und oder Stromspeicher, sowie aus dem Netz/Cloud genutzter Strom) ohne Einschränkung zu jeder Tages & Nachtzeit nutzen.</p>
      <br>
      <p>Der Auftraggeber best&auml;tigt mit seiner Unterschrift ein Exemplar des Vertrages erhalten zu haben.</p>
      <p>&nbsp;</p>
      <p>______________________________________________________________<br />Ort, Datum Unterschrift Kunde</p>
    {%- endif -%}

    {% if offer.reseller.document_style != "bsh" -%}
      <div style="page-break-after: always;"></div>

      <h2>Abtretungsanzeige und Zahlungshinweise</h2>

      <div style="float: left; width: 50%">
        <b>Kunde</b><br>
        {% if offer.address %}
          {{ offer.address | addressblock | nltobr }}<br>
        {% endif %}
        - nachfolgend Kunde genannt -
      </div>
      <div style="float: left; width: 50%">
        <b>Verteilnetzbetreiber (VNB)</b><br>
        <br>
        ___________________________________________<br>
        <small>Firmenname</small><br>
        <div style="float: left;">
          ______________________________&nbsp;<br>
          <small>Straße</small>
        </div>
        <div style="float: left;">
          _____________<br>
          <small>Hausnr.</small>
        </div>
        <br>
        <br>
        <div style="float: left;">
          _____________&nbsp;<br>
          <small>PLZ</small>
        </div>
        <div style="float: left;">
          ______________________________<br>
          <small>Ort</small>
        </div>
        <br style="clear: both;">
        <br>
        - nachfolgend Netzbetreiber genannt -
      </div>

      <div style="clear: both;"></div>
      <br>

      <div style="float: left; width: 40%">
        Zählpunktbezeichnung / Malo<br>
        (Einspeisezählpunkt)
      </div>
      <div style="float: left; width: 60%">
        ___________________________________________________________<br>
        <small>Zählpunktbezeichnung (falls schon vorhanden)</small>
      </div>
      <div style="clear: both;"></div>
      <br>
      <div style="float: left; width: 40%">
        Kunden-Nr. beim Netzbetreiber für die Einspeiseabrechnung
      </div>
      <div style="float: left; width: 60%">
        ___________________________________________________________<br>
        <small>Kunden-Nr. Einspeisevertrag (Kann auch von efi-Strom nachgetragen werden)</small>
      </div>
      <div style="clear: both;"></div>
      <br>
      <br>

      Der o.g. Kunden hat seine Ansprüche gegenüber dem Netzbetreiber auf
      <ul>
        <li>die Einspeisevergütung im Sinne des§ 37 EEG (2014) bzw. § 21 EEG (2017) für den von der/ den Anlage(n) erzeugten und eingespeisten Strom</li>
        <li>die Marktprämie gemäß§ 34 EEG (2014) bzw. § 20 EEG (2017) für den von der/ den Anlage(n) erzeugten und eingespeisten Strom, soweit die Anlage im Wege der Direktvermarktung vermarktet wird</li>
        <li>das Entgelt für dezentrale Einspeisung gemäß§ 18 StromNEV für den in der/ den Anlage(n) erzeugten und in das Netz des Netzbetreibers eingespeisten Strom; der Anspruch besteht nur, wenn und soweit die genannte(n) Anlage(n) im Wege der sonstigen Direktvermarktung nach§ 20 Abs.1 Nr. 2 EEG (2014) bzw. §21a EEG (2017) vermarktet wird/ werden</li>
        <li>soweit einschlägig den Eigenverbrauchsbonus</li>
        <li>Erstattung zusätzlicher Aufwendungen für angefallene Ausgleichsenergie nach Maßnahmen des Einspeisemanagements nach § 13 EEG (2014)</li>
      </ul>
      an<br>
      <div style="text-align: center; font-size: 1.1em;">
        <b>
          {%- if offer.reseller.document_style in ["bsh", "eeg"] -%}
            efi-Strom -
          {% endif %}
          Korbacher EnergieZentrum, Wildunger Landstraße 14b, 34497 Korbach
        </b>
      </div>
      abgetreten.
      <div style="line-height: 1.2em;">
        Zusätzlich erteilt der Kunde mit seiner Unterschrift der Korbacher Energiezentrum GmbH und Co. KG die Bevollmächtigung
        Erkundigungen und Informationen bezüglich der Verträge, die Zähler die EEG-Vergütung, die eingespeisten Strommengen und alle
        anderen für ihre Tätigkeiten relevanaten Informationen einholen zu dürfen. Zeitgleich entbindet der Kunde mit seiner Unterschrift den
        Netzbetreiber von seiner Schweigepflicht gegenüber der Korbacher Energiezentrum GmbH & Co. KG.
        <p>Soweit einzelne Ansprüche oder alle Ansprüche bereits an Dritte abgetreten sind, tritt der Kunde die Ansprüche nur soweit an Korbacher
          EnergieZentrum ab, soweit sie nicht schon abgetreten sind. Sollte ein Anspruchsberechtigter mit einer älteren Abtretungsanzeige seine
          Ansprüche aus den Forderungen gegenüber dem Kunden geltend machen, wird der Kunde Korbacher EnergieZentrum hierüber
          informieren und Korbacher EnergieZentrum wird bei berechtigten Ansprüchen die erhaltenen Zahlungen ab dem Zeitpunkt der
          Geltendmachung der älteren Abtretung an den Anspruchsberechtigten zahlen.</p>
        <p>Ungeachtet etwaiger Abtretungen bestimmt der Kunde Korbacher EnergieZentrum als Zahlungsempfänger für oben genannte Zahlungen,
          soweit er den Zahlungsempfänger bestimmen darf. Von der Abtretung umfasst sind auch künftige Ansprüche einschließlich der
          Ansprüche auf monatliche Abschlagszahlungen in angemessener Höhe.</p>
        <p>Bis auf schriftlichen Widerruf weisen wir Sie an, die genannten Zahlungen mit schuldbefreiender Wirkung ausschließlich auf das
          folgende Konto von Korbacher EnergieZentrum zu leisten:</p>
      </div>
      <span style="display: inline-block; width: 10em;">IBAN</span> <b>DE84 4606 2817 5191 0565 00</b><br>
      <span style="display: inline-block; width: 10em;">Kreditinstitut</span> <b>Volksbank Bigge Lenne</b><br>
      <span style="display: inline-block; width: 10em;">BIC</span> <b>GENODEM1SMA</b><br>
      <br>
      <br>

      <div style="float: left; width: 50%">
        ______________________________________________<br>
        Ort, Datum
      </div>
      <div style="float: left; width: 50%">
        ______________________________________________<br>
        Rechtverbindliche Unterschrift des Kunden
      </div>
    {%- endif -%}
  </body>
</html>

