<html>
  <head>
    <meta charset="UTF-8">
    <meta name="pdfkit-page-size" content="A4"/>
    <meta name="pdfkit-footer-right" content="[page] von [pages]"/>
    <meta name="pdfkit-footer-font-size" content="9"/>
    <meta name="pdfkit-margin-bottom" content="10"/>
    <meta name="pdfkit-margin-top" content="10"/>
    <meta name="pdfkit-disable-smart-shrinking" content=""/>
    <style>
      body {
        font-size: 12px;
        line-height: 1.4em;
        min-height: calc(100vh - 30px);
        padding: 0;
        margin: 1em;
        font-family: Arial, Helvetica, sans-serif;
      }
      h2 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #e0e0e0;
        padding: 0.4em 0.6em;
      }
      table {
        width: 100%;
        font-size: 12px;
      }
      table thead { display: table-header-group; }
      .table--th {
        background-color: #e0e0e0;
        text-align: left;
      }
      table thead th {
        page-break-after: avoid;
      }
      table th,
      table td {
        padding: 0.4em 0.6em;
        vertical-align: top;
      }
      table.narrow td {
        padding: 0.1em 0.2em;
        vertical-align: top;
      }
      table td {
        border-bottom: 1px solid #cccccc;
        font-size: 1em;
      }
      table .no-underline td {
        border-bottom: none;
      }
      table th.right,
      table td.right {
        text-align: right;
      }
      table th.border-right,
      table td.border-right {
        border-right: 1px solid #cccccc;
      }
      table .foot-line {
        background-color: #e0e0e0;
        font-weight: bold;

      }
    </style>
  </head>
  <body>
    {% include "offer/head.html" %}
    <br>
    <table cellspacing="0" class="table table-condensed" style="width: 100%;">
      <thead>
        <tr>
          <th class="table--th">Pos.</th>
          <th class="table--th">Anzahl</th>
          <th class="table--th">Einheit</th>
          <th class="table--th">Bezeichnung</th>
          <th class="table--th">Einzelpreis</th>
          <th class="table--th">Gesamtpreis</th>
        </tr>
      </thead>
      <tbody>
        {% set index = {'index': 1, 'unused': 0} %}
        {% for item in offer.items %}
          {% if item.quantity > 0 or item.position == "top" %}
            <tr>
              <td class="border-right">{{ index.index }}</td>
              <td class="border-right right">{{ item.quantity | numberformat("de", 0) }}</td>
              <td class="border-right">{{ item.quantity_unit }}</td>
              <td class="border-right">
                <b>{{ item.label }}</b><br>
                {{ item.description | safe }}
              </td>
              <td class="right border-right" style="white-space: nowrap;">{{ item.single_price_net | currencyformat }}</td>
              <td class="right" style="white-space: nowrap;">{{ item.total_price_net | currencyformat }}</td>
            </tr>
            {% if index.update({"index": index.index + 1 }) %} {% endif %}
          {% else %}
            {% if index.update({"unused": index.unused + 1 }) %} {% endif %}
          {% endif %}
        {% endfor %}
        <tr>
          <td class="border-right" colspan="5">Summe:</td>
          <td class="right" style="white-space: nowrap;">{{ offer.subtotal_net | currencyformat }}</td>
        </tr>
        <tr>
          <td class="border-right" colspan="5">Mehrwertsteuer {{ offer.tax_rate | percentformat }} auf {{ offer.subtotal_net | currencyformat }} netto</td>
          <td class="right" style="white-space: nowrap;">{{ offer.total_tax | currencyformat }}</td>
        </tr>
        <tr class="foot-line">
          <td class="border-right" colspan="5">Zu zahlender Betrag</td>
          <td class="right" style="white-space: nowrap;">{{ offer.total | currencyformat }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div>
      <b>Hinweis:</b><br>
      Wählt der Kunde das Service S.pro Paket (online Überwachung Stromspeicher) so
      Erlaubt er den Online-Zugriff durch KEZ auf seinen Speicher, zu Überwachungs- und Reparaturzwecken.
      Dieser Artikel wird hiermit als Abonnement bestellt und läuft, wenn nicht vom Kunden gekündigt,
      jeweils für ein Jahr weiter. Also verlängert sich automatisch immer wieder um weitere 12 Monate.<br>
      Die Rechnung wird jährlich gestellt und ist im Voraus zu zahlen.
    </div>
    {% if index.unused > 0 %}
      <div style="page-break-after: always;"></div>

      <h2>Interessantes Zubehör</h2>

      <table cellspacing="0" class="table table-condensed" style="width: 100%;">
        <thead>
          <tr>
            <th class="table--th">Pos.</th>
            <th class="table--th">Anzahl</th>
            <th class="table--th">Einheit</th>
            <th class="table--th">Bezeichnung</th>
            <th class="table--th">Einzelpreis</th>
            <th class="table--th">Gesamtpreis</th>
          </tr>
        </thead>
        <tbody>
          {% set index = {'index': 1} %}
          {% for item in offer.items %}
            {% if item.quantity == 0 and item.position == "bottom" %}
              <tr>
                <td class="border-right">{{ index.index }}</td>
                <td class="border-right right empty-on-split">{{ item.quantity | numberformat("de", 0) }}</td>
                <td class="border-right empty-on-split">{{ item.quantity_unit }}</td>
                <td class="border-right description">
                  <div>
                    <b>{{ item.label }}</b><br>
                    {{ item.description | safe }}
                  </div>
                </td>
                <td class="right border-right empty-on-split" style="white-space: nowrap;">{{ item.single_price_net | currencyformat }}</td>
                <td class="right empty-on-split" style="white-space: nowrap;">{{ 0 | currencyformat }}</td>
              </tr>
              {% if index.update({"index": index.index + 1 }) %} {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <div style="page-break-after: always;"></div>

    <h2>Verbindliche Bestellung</h2>
    <p>Diese Ausarbeitung ist geistiges Eigentum des Unternehmens. Die Unterlagen d&uuml;rfen gem&auml;&szlig; &sect;&sect; 1,2 und 11 des UrhG und &sect; 823 BGB ohne Genehmigung des Unternehmens weder zur Ausschreibung benutzt, noch Dritten zur Einsicht &uuml;berlassen oder in sonstiger Weise inhaltlich mitgeteilt werden. Es gelten unsere allgemeinen Gesch&Atilde;&curren;ftsbedingungen. Gerichtsstand ist Korbach.</p>
    <p>Das Angebot ist ab Erstellung 2 Wochen g&uuml;ltig. Ein verbindlicher Vertrag kommt erst zu Stande, nachdem das unterschriebene Leistungsverzeichnis/Angebot von der Korbacher Energiezentrum GmbH &amp; Co. KG per Auftragsbest&auml;tigung angenommen wurde. Etwaige Nebenabreden (schriftlich und/oder m&uuml;ndlich) sind unwirksam, sofern sie nicht ausdr&uuml;cklich schriftlich durch den Gesch&auml;ftsf&uuml;hrer best&auml;tigt worden sind.</p>
    <p>Als Zahlungsbedingungen werden vereinbart: Zahlbar 30 tage nach Lieferung des Speichersystems</p>
    <p></p>
    <p>Bemerkungen</p>
    <p>____________________________________________________________________</p>
    <p>____________________________________________________________________</p>
    <p>____________________________________________________________________</p>
    <p>____________________________________________________________________</p>
    <p>Hiermit bestellen ich / wir den oben beschriebenen Stromspeicher. <br />Die Bestellung erfolgt vorbehaltlich der Finanzierungszusage einer Bank. Kommt eine Finanzierung nicht zustande, entsteht keine Abnahmepflicht der Anlage f&uuml;r den Kunden. Hierzu gen&uuml;gt die schriftliche Absage der Bank.</p>
    <ul>
    <li>Keine Haftung von korbacher-energieZENTRUM f&uuml;r Verz&ouml;gerungen bei der Terminvergabe f&uuml;r die Z&auml;hlermontage durch den Netzbetreiber</li>
    <li>Eine etwaige Wirtschaftlichkeitsberechnung, angenommmene / errechnete PV-Ertr&auml;ge und ein Autarkiegrad etc. sind lediglich theoretisch errechnete Werte und k&ouml;nnen von den tats&auml;chlich erreichten Werten abweichen. Hierf&uuml;r &uuml;bernimmt korbacher-energieZENTRUM keine Haftung. Diese werden nicht Gesch&auml;ftsgrundlage sowie nicht Vertragsbestandteil dieses Angebots.</li>
    <li>Alle Garantien gem&auml;&szlig; Angebot sind reine Herstellergarantien. korbacher-energieZENTRUM ist nicht Garantiegeber. Ein etwaiger eintretender Verzug bei der Lieferung sowie Ausf&uuml;hrung der vereinbarten Leistungen inkl. der sich aus aus dem Verzug ergebenden Rechtsfolgen setzt in jeden Fall eigenes Verschulden der korbacher-energieZENTRUM GmbH &amp; Co KG voraus.</li>
    <li>Der Schwerpunkt der vereinbarten Leistungen gem&auml;&szlig; Angebot ist kaufvertraglicher Natur, weswegen bei Annahme des Angebots ein Kaufvertrag geschlossen wird. Die Gew&auml;hrleistung beginnt mit der schriftlichen Fertigstellungsanzeige durch das Installationsunternehmen gegen&uuml;ber korbacher-energieZENTRUM GmbH &amp; Co KG zu laufen.</li>
    <li>Der Vertrag gem&auml;&szlig; Angebot ist erf&uuml;llt mit vollst&auml;ndiger Lieferung des Speichers.</li>
    <li>Aufrechnung sowie Zur&uuml;ckbehaltungsrecht gegen&uuml;ber Forderungen von korbacher-energieZENTRUM sind dem Kunden nicht gestattet, es sei denn, es handelt sich um unbestrittene oder rechtskr&auml;ftig festgestellte Forderungen.</li>
    </ul>
    <br>
    <p>Der Auftraggeber best&auml;tigt mit seiner Unterschrift ein Exemplar des Vertrages erhalten zu haben.</p>
    <p>&nbsp;</p>
    <p>______________________________________________________________<br />Ort, Datum Unterschrift Kunde</p>

    <script>
      let trs = document.querySelectorAll("table tr");
      let i = 1;
      if(trs[i].offsetHeight > 500){
        new_tr = trs[i].cloneNode(true)
        let description_div = trs[i].querySelector(".description > div");
        description_div.style.overflow = "hidden";
        description_div.style.height = "500px";
        trs[i].insertAdjacentElement("afterend", new_tr);
        let description2 = new_tr.querySelector(".description");
        description2.style.overflow = "hidden";
        let description2_div = new_tr.querySelector(".description > div");
        description2_div.style.marginTop = "-540px";
        let empties = new_tr.querySelectorAll(".empty-on-split");
        for(let j=0;j < empties.length;j++){
          empties[j].innerHTML = "";
        }
      }
    </script>
  </body>
</html>

