<div class="small" style="float: right; font-size: 11px; line-height: 1.4em; margin-left: 2em;">
  {% if offer.reseller.document_style == "rhein_main" %}
    {% include "offer/logo-rhein-main.html" %}<br>
    <div style="text-align: center;">Eine 100% Marke der<br>korabcher-energieZENTRUM GmbH & Co KG</div>
    <br>
    <br>
    Geschäftsführer : André Schön<br>
    Bornbach Str. 80<br>
    35789 Weilmünster<br>
    Tel: 05631 501717 &nbsp; Fax: 5061742<br>
    Email: info@energiezentrum-rheinmain.de<br>
  {% elif offer.reseller.document_style == "bsh" %}
    {% include "offer/logo-bsh.html" %}<br>
  {% else %}
    {% include "offer/logo-kez.html" %}
    <br>
    <br>
    Geschäftsführer : André Schön<br>
    Wildunger Landstraße 14b<br>
    34497 Korbach<br>
    Tel: 05631 501717 &nbsp; Fax: 5061742<br>
    Email: info@korbacher-energiezentrum.de<br>
  {% endif %}
  <br>
  <div style="text-align: center;">
    {% include "offer/logo-efi-strom.html" %}<br>
    Webseite: www.efi-strom.de<br>
    E-Mail: info@efi-strom.de<br>
  </div>
  <br>
  <br>
  <div style="font-size: 12px; line-height: 1.5em;">
    <div style="display: grid; grid-template-columns: 7em 1fr;">
      <div>Datum:</div>
      <div>{{ offer.datetime | dateformat }}</div>
      <div>Angebots-Nr.:</div>
      <div>{{ offer_number_prefix }}{{ offer.id }}</div>
      <div>Kunden-Nr.:</div>
      {% if offer.customer %}
        <div>{{ offer.customer.customer_number }}</div>
      {% else %}
        <div>-</div>
      {% endif %}
    </div>
  </div>
</div>

<div style="padding-bottom: 9em;">
  <div style="
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: right;
    padding: 0 0 0.5em;
    color: #888888;">
    Energie ist unsere Profession
  </div>
  <div style="
    font-size: 16px;
    text-align: right;">
    Energieberatung, Anlagenwartung, Konzeptentwicklung
    </div>
</div>


<div style="padding-left: 15mm;">
  {% if offer.reseller.document_style == "rhein_main" %}
    <small style="text-decoration: underline;font-size: 10px;">energieZentrum Rhein Main<br>Bornbach Str. 80 35789 Weilmünster</small><br>
  {% elif offer.reseller.document_style == "eeg" %}
    <small style="text-decoration: underline;font-size: 10px;">eeg GmbH & Co KG<br>Wildunger Landstr. 14b 34497 Korbach</small><br>
  {% elif offer.reseller.document_style == "bsh" %}
    <small style="text-decoration: underline;font-size: 10px;">bsh GmbH & Co KG<br>Wildunger Landstr. 14b 34497 Korbach</small><br>
  {% else %}
    <small style="text-decoration: underline;font-size: 10px;">korbacher-energieZentrum GmbH & Co KG<br>Wildunger Landstr. 14b 34497 Korbach</small><br>
  {% endif %}
  {% if offer.address %}
    {{ offer.address | addressblock | nltobr }}
  {% endif %}
</div>

<div style="clear: both;"></div>
<h2>
  {%- if heading -%}
    {{ heading }}
  {%- else -%}
    Angebot/Leistungsverzeichnis
  {%- endif -%}
</h2>
