{% if offer.offer_group == "pv-offer" %}
    {% include "offer/pv.html" %}
{% endif %}
{% if offer.offer_group == "cloud-offer" %}
    {% include "offer/cloud.html" %}
{% endif %}
{% if offer.offer_group == "enpal-offer" %}
    {% include "offer/enpal.html" %}
{% endif %}
{% if offer.offer_group == "heater-offer" %}
    {% include "offer/heater.html" %}
{% endif %}
{% if offer.offer_group == "heater-offer-con" %}
    {% include "offer/heater-contracting.html" %}
{% endif %}
{% if offer.offer_group == "roof-offer" %}
    {% include "offer/roof.html" %}
{% endif %}
{% if offer.reseller.document_style == "rhein_main" %}
  {% set height_bottom = 430 %}
  {% set height_bottom2 = 433 %}
{% else %}
  {% set height_bottom = 485 %}
  {% set height_bottom2 = 475 %}
{% endif %}
<script>
  let trs = document.querySelectorAll("table tr");
  let i = 1;
  if(trs[i].offsetHeight > 500){
    new_tr = trs[i].cloneNode(true)
    let description_div = trs[i].querySelector(".description > div");
    description_div.style.overflow = "hidden";
    description_div.style.height = "{{ height_bottom }}px";
    trs[i].insertAdjacentElement("afterend", new_tr);
    let description2 = new_tr.querySelector(".description");
    description2.style.overflow = "hidden";
    let description2_div = new_tr.querySelector(".description > div");
    description2_div.style.marginTop = "-{{ height_bottom2 }}px";
    let empties = new_tr.querySelectorAll(".empty-on-split");
    for(let j=0;j < empties.length;j++){
      empties[j].innerHTML = "";
    }
  }
</script>
