<html>
    <head>
        <style>
            .footer {
                font-size: 8rem;
                width: 98%;
                padding: 0 5%;
                -webkit-print-color-adjust: exact;
            }
            .cols {
                display: flex;
            }
        </style>
    </head>
    <body>
      <div class="footer">
        <div class="cols">
          <div style="flex: 1;">Angebots-Nr.: {{ data.number }}</div>
          <div style="text-align: right;">
              <span class="pageNumber"></span> von <span class="totalPages"></span>
          </div>
        </div>
        <div class="cols" style="font-size: 6.5px; line-height: 1.2em; margin-top: 2em">
          <div style="margin-right: 3em;">
            energie360 GmbH & Co. KG<br>
            Steuernummer: 027 337 60133<br>
            USt-IdNr.: DE286327264<br>
            Amtsgericht Korbach HRA 1580<br>
            pers. haft. Ges. Schön Verwaltungsgesellschaft mbH<br>
            Geschäftsführer: Andre Schön<br>
            Amtsgericht Korbach HRA 1878<br>
            Die Ware bleibt bis zur Vollständigen Bezahlung Eigentum des Verkäufers
          </div>
          <div>
            Bankverbindung:<br>
            Sparkasse Korbach IBAN: DE05 52350005 0000101352 - BIC-Code: HELA DEF 1KOR<br>
            Treuhandkonto:<br>
            Sparkasse Korbach IBAN: DE64 52350005 0000135210 - BIC-Code: HELAD EF 1KOR<br>
            Waldecker Bank: DE89 52360059 0000055140 - BIC: GENODEF1KBW<br>
            Es gelten unsere allgemeinen Geschäftsbedingungen
          </div>
        </div>
      </div>
    </body>
</html>

