<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PV-Angebot</title>
  {% include('quote_calculator/generator/style.html') %}
  {% include('quote_calculator/generator/elements/table.html') %}
</head>
<body>

  {% include('quote_calculator/generator/head.html') %}
  {% if data.foreword %}
    {% if data.contact %}
      {% if data.contact.salutation == "ms" %}
        Sehr geehrte Frau {{ data.contact.last_name }},<br>
      {% else %}
        Sehr geehrter Herr {{ data.contact.last_name }},<br>
      {% endif%}
      <br>
    {% endif%}
    <div class="foreword">
      {% if data.foreword_type == "html" %}
        {{ data.foreword | safe }}
      {% else %}
        {{ data.foreword | nl2br }}
      {% endif%}
    </div>
  {% endif %}
  <br>
  <table cellspacing="0" class="table table-condensed" style="width: 100%;">
    <thead>
      <tr>
        <th class="table--th">Pos.</th>
        <th class="table--th">Anzahl</th>
        <th class="table--th">Einheit</th>
        <th class="table--th" {% if data.data.only_show_total_price %}colspan="2"{% endif %}>Bezeichnung</th>
        {% if not data.data.only_show_total_price %}
          <th class="table--th">Einzelpreis</th>
          <th class="table--th">Gesamtpreis</th>
        {% endif%}
      </tr>
    </thead>
    <tbody>
      {% set index = {'index': 1, 'unused': 0} %}
      {% for item in data.products %}
        <tr>
          <td class="align-right align-top">{{ index.index }}</td>
          <td class="align-right align-top empty-on-split">{{ item.quantity | numberformat("de", digits=None) }}</td>
          <td class="border-right align-top empty-on-split">{{ item.quantity_unit }}</td>
          <td class="border-right align-top description" {% if data.data.only_show_total_price and item.total_price >= 0 %}colspan="2"{% endif %}>
            <div>
              <b>{{ item.NAME }}</b><br>
              {% if item.DESCRIPTION_TYPE == "html" %}
                {{ item.DESCRIPTION | safe }}
              {% else %}
                {{ item.DESCRIPTION | nl2br }}
              {% endif%}
            </div>
          </td>
          {% if not data.data.only_show_total_price %}
            <td class="border-right align-right align-top empty-on-split" style="white-space: nowrap;">{{ item.PRICE | currencyformat }}</td>
            <td class="border-right align-right align-top empty-on-split" style="white-space: nowrap;">{{ item.total_price | currencyformat }}</td>
          {% else %}
            {% if item.total_price < 0 %}
              <td class="border-right align-right align-top empty-on-split" style="white-space: nowrap;">{{ item.total_price | currencyformat }}</td>
            {% endif%}
          {% endif%}
        </tr>
        {% if index.update({"index": index.index + 1 }) %} {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% if data.calculated.pv_kwp < 30 %}
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td class="align-right" width="80%" style="font-weight: bold;">Zwischensumme netto:</td>
          <td class="align-right" width="30%" style="white-space: nowrap;font-weight: bold;">{{ data.subtotal_net | currencyformat }}</td>
        </tr>
        <tr>
          <td class="align-right" style="font-size: 0.9em; color: #555;">Mehrwertsteuer {{ data.tax_rate | percentformat }}</td>
          <td class="align-right" style="font-size: 0.9em; color: #555; white-space: nowrap;">{{ data.total_tax | currencyformat }}</td>
        </tr>
        <tr class="foot-line">
          <td class="align-right" style="font-size: 0.9em; color: #555;">Gesamtbetrag</td>
          <td class="align-right" style="font-size: 0.9em; color: #555; white-space: nowrap;">{{ data.total | currencyformat }}</td>
        </tr>
      </tbody>
    </table>
    <b>0%-Umsatzsteuer</b><br>
    Das Angebot wird mit einer 0%-Umsatzsteuer durch Energie360 ausgewiesen. Die Ausweisung der Umsatzsteuer erfolgt hierbei unter dem Vorbehalt, dass der Kunde die gesetzlichen Voraussetzungen gem. Umsatzsteuergesetz (UStG), hier insb. § 12 Abs. 3 UStG in der derzeit gültigen Fassung (30 kWp-Grenze, Unternehmer usw.), erfüllt. Erfüllt der Kunde als Betreiber bzw. die PV-Anlage die Voraussetzungen hierzu nicht, wird dies dem Kunden in der Rechnung ausgewiesen. Dem Kunden ist bekannt, dass er insoweit keinen rechtlichen Anspruch auf die 0%-Umsatzsteuerregelung hat, wenn er die Voraussetzungen hierzu nicht erfüllt.<br>
    <br>
    Zusatzartikel, wie z.B. eine Wallbox oder eine Brauchwasserwärmepumpe sind von der 0% Mwst. ausgeschlossen. Diese werden in der Rechnung dann entsprechend berücksichtigt.
    <br>
  {% else%}
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td class="align-right" width="80%">Zwischensumme netto:</td>
          <td class="align-right" width="30%" style="white-space: nowrap;">{{ data.subtotal_net | currencyformat }}</td>
        </tr>
        <tr>
          <td class="align-right">Mehrwertsteuer {{ data.tax_rate | percentformat }}</td>
          <td class="align-right" style="white-space: nowrap;">{{ data.total_tax | currencyformat }}</td>
        </tr>
        <tr class="foot-line">
          <td class="align-right" style="font-weight: bold;" >Gesamtbetrag</td>
          <td class="align-right" style="white-space: nowrap;font-weight: bold;">{{ data.total | currencyformat }}</td>
        </tr>
      </tbody>
    </table>
  {% endif%}
  {% if data.calculated.pv_kwp > 99 %}
    <div class="warning">
      Achtung! Ob die Anschlussleistung reicht oder eine kostenpflichtige Trafo Station benötigt wird muss mit dem zuständigen Netzbetreiber erörtert werden. Netzverstärkungen sind nicht im Angebot enthalten
    </div>
    <br><br>
  {% endif%}
  {% if data.data.special_conditions_pv_quote %}
    <div style="border: 1px solid #ccc; padding: 1em; margin: 1.5em 0;">
      <b>Zusatzvereinbarungen</b><br>
      {{ data.data.special_conditions_pv_quote }}
    </div>
  {% endif%}

  {% if data.data.investment_type == "financing" and data.data.financing_bank and data.data.financing_bank in ['energie360'] %}
    <div style="border: 1px solid #ccc; padding: 1em; margin: 1.5em 0;">
      <b>Finanzierung über energie360 GmbH &amp; Co. KG</b><br>
      Der Kaufvertrag kommt nur bei einer genehmigten Finanzierung zu Stande. Die monatliche Rate bei einer Nettofinanzierung soll mit einer Anzahlung von {{ data.loan_calculation.upfront_payment | currencyformat }} bei ca. {{ data.loan_calculation.monthly_payment | currencyformat }} liegen.
    </div>
  {% endif%}

  {% if data.appendix %}
    <div class="appendix">
      {% if data.appendix_type == "html" %}
        {{ data.appendix | safe }}
      {% else %}
        {{ data.appendix | nl2br }}
      {% endif%}
    </div>
  {% endif %}
  <br>
  <br>
  <div class="layout horizontal">
    <div class="flex">
      <div style="color: #fefefe; border-bottom: 1px solid #000; width: 300px;">__main_sig__</div>
      Ort, Datum Unterschrift Kunde
    </div>
    {% if not data.has_special_condition %}
      <div class="flex">
        <div style="color: #fefefe; border-bottom: 1px solid #000; width: 300px;">__main_sig__</div>
        Ort, Datum Unterschrift Mitarbeiter Energie360
      </div>
    {% endif%}
  </div>

</body>
</html>


