<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PV-Angebot</title>
  {% include('quote_calculator/generator/style.html') %}
  {% include('quote_calculator/generator/elements/table.html') %}
</head>
<body>

  {% include('quote_calculator/generator/head2.html') %}
  <div class="letter-text" style="margin-top: 0em;">
    <h2>Ihr individuelles Energiekonzept</h2>
    <p>
      {% if data.contact %}
        {% if data.contact.salutation == "ms" %}
          Sehr geehrte Frau {{ data.contact.last_name }},<br>
        {% else %}
          Sehr geehrter Herr {{ data.contact.last_name }},<br>
        {% endif%}
      {% else %}
        Sehr geehrte Damen und Herren,<br>
      {% endif%}
      wir freuen uns über Ihr Interesse an unseren Produkten.
    </p>
    <p>
      Als Systemanbieter für erneuerbare Energien sowie in Deutschland verwenden wir nur Komponenten namhafter Hersteller. Somit ist gewährleistet, dass Sie mit Ihrer Anlage über einen langen Zeitraum viel Freude haben werden. Selbstverständlich bieten wir Ihnen, auch über die reine Montage der Anlage hinaus, einen umfassenden und exclusiven Service.
    </p>
    <div class="layout horizontal">
      <div class="flex">
        <b>Wir übernehmen für Sie:</b>
        <ul>
          <li>- Die nötigen Formalitäten mit dem Energieversorger</li>
          <li>- Hilfe bei der Anmeldung beim Marktstammdatenblatt</li>
          <li>- Wechsel vom bisherigen Energieversorger zur neuen Eingenversorgung</li>
          <li>- Gerne unterbreiten wir Ihnen auch einen Finanzierungvorschlag</li>
        </ul>
      </div>
      <div class="flex">
        <b>anbei unser Energiekonzept mit folgenden Unterlagen:</b>
        <ul>
          <li>- detailliertes Angebot</li>
          <li>- Wirtschaftlichkeitsberechnung</li>
          <li>- Cloud Berechnung</li>
          <li>- Datenblätter</li>
        </ul>
      </div>
    </div>
    <p style="margin-top: 0;">
      Sie können mit dieser Anlage ohne Speicher nur 30% Autarkie erreichen. Mit Stromspeicher bis zu 70% und mit unserer eigenen C.Cloud werden Sie zu 100% autark also <b>unabhängig vom traditionellen Energieversorger</b>. Nutzen sie Ihren Solarstrom über das ganze Jahr hinweg und profitieren Sie von den einzigartigen Möglichkeiten der besten Cloud Deutschlands wie zum Beispiel - 12 Jahre Preisgarantie - Strom einfach deutschlandweit an weitere Abnehmer liefern - z.B. Ihr Ferienhaus oder e.move Strom von Ihrem Haus - an 30.000 Lademöglichkeiten deutschlandweit abnehmen -<br>
      Ihre Heizung wird Grün - Die Gastherme mit Solarstrom betreiben das geht nur mit unserer Cloud.<br>
      <br>
      Für Rückfragen stehen wir Ihnen gerne zur Verfügung -<br>
      Ihr Anbieter für ein ganzheitliches Öko-System<br>
    </p>
    Mit sonnigen Grüssen<br>
    Ihr Team von energie360

  </div>

</body>
</html>


