<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap" rel="stylesheet">
<style>
  html, body {
    font-family: sans-serif;
    padding: 0 1em;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #111111;
    font-size: 12px;
  }
  .layout.horizontal {
    display: flex;
    flex-direction: row;
  }
  .flex {
    flex: 1;
  }
  h2 {
    font-weight: 600;
  }
  small {
    font-size: 12px;
  }
  .align-center {
    text-align: center;
  }
  .align-right {
    text-align: right;
  }
  .align-top {
    vertical-align: top;
  }
  ul {
    padding-left: 1.2em;
    padding-bottom: 0;
  }
  footer {
    font-size: 10em;
  }
  .warning {
    padding: 1em;
    background-color: #FF8F00;
  }

</style>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300&display=swap" rel="stylesheet">
