

<style>
  .page_cloud_config .banner {
    position: absolute;
    background-color: #2E2E2D;
    padding: 0.4em 0.7em 0.4em 2.5em;
    margin-top: 110px;
    right: 0;
    color: #ffffff;
    font-size: 22px;
    z-index: 2;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
  }
  .page_cloud_config .banner::before {
    position: absolute;
    content: " ";
    top: -14px;
    left: -40px;
    width: 84px;
    height: 76px;
    background-image: url("{{ data.base_url }}/static/feasibility_study_2020/cover_page_ribbon.png");
    background-size: contain;
  }

  .page_cloud_config .left_side {
    flex: 1 0 70%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    {% if offer.reseller.document_style == "bsh" %}
      background-image: url("{{ data.base_url }}/static/feasibility_study_2020/house_with_pv_sun.jpg");
    {% else %}
      background-image: url("{{ data.base_url }}/static/feasibility_study_2020/familiy-rope.jpg");
    {% endif %}
    background-size: cover;
    border-bottom: 12px solid #1A61AC;
  }
  .page_cloud_config .left_side::after {
    position: absolute;
    content: " ";
    left: -10%;
    bottom: -40px;
    height: 40px;
    width: 120%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-radial-gradient(center, ellipse contain,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse contain,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse farthest-side at center top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .page_cloud_config .heading {
    background-color: rgba(155,155,155,0.5);
    margin-top: 430px;
    padding: 1.5em 4.5em;
    color: #ffffff;
    position: relative;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,b0ca0a+53&0.3+0,0.3+54 */
    background: -moz-linear-gradient(left,  rgba(155,155,155,0.5) 0%, rgba(136,155,10,0.7) 53%, rgba(136,155,10,0.7) 54%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(155,155,155,0.5) 0%,rgba(136,155,10,0.7) 53%,rgba(136,155,10,0.7) 54%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(155,155,155,0.5) 0%,rgba(136,155,10,0.7) 53%,rgba(136,155,10,0.7) 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4db0ca0a',GradientType=1 ); /* IE6-9 */
    {% if offer.reseller.document_style == "bsh" %}
      flex: 1;
      text-align: center;
    {% endif %}
  }
  .page_cloud_config .heading::after {
    position: absolute;
    content: " ";
    left: -10%;
    bottom: -40px;
    height: 40px;
    width: 120%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-radial-gradient(center, ellipse contain,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse contain,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse farthest-side at center top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .page_cloud_config .heading .large {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
  }
  .page_cloud_config .heading .small {
    font-size: 25px;
    font-weight: 300;
  }
  .page_cloud_config .right_side {
    flex: 1 0 30%;
    background-size: cover;
  }
</style>

<div class="page_cloud_config">
  {% include('feasibility_study_2020/elements/logos.html') %}

  {% if offer.reseller.document_style == "bsh" %}
  <div class="layout horizontal">

    <div class="left_side">
      <div class="heading">
        <div class="large">C.Cloud Konfiguration</div>
        <div class="small">
          für
          {% if offer.address %}
            {{ offer.address.firstname }} {{ offer.address.lastname }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="right_side">
      &nbsp;
    </div>

  </div>
  {% else %}
  <div class="layout horizontal">

    <div class="left_side">
      <div class="heading">
        <div class="large">Gemeinsam für Generationen die Welt verbessern.</div>
      </div>
    </div>

  </div>
  {% endif %}
</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}

