<style>
  .page_calculation_params {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .page_calculation_params .left-side {
    flex: 10;
    padding-left: 50px;
  }
  .page_calculation_params .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    padding: 30px 20px 30px 0;

  }
  .page_calculation_params .right-side {
    flex: 1 0 20%;
    background: url("{{ data.base_url }}/static/feasibility_study_2020/house_against_sun.jpg");
    background-size: cover;
  }
</style>


<div class="page_calculation_params">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="flex layout horizontal">
    <div class="left-side">
      <div class="headline">
        Die Grundlage für Ihre Unabhängigkeit
        Berechnungsparameter im Überblick.
      </div>

      <div class="step" style="margin-left: -50px;">
        <div class="step__number"><span>1</span></div>
        <div class="step__label">Anlage und Haus</div>
      </div>

      <table cellspacing="0">
        <tr>
          <td>
            Verbrauch Haushaltsstrom
            {% if offer.reseller.document_style != "bsh" %}
              {% if data.consumer %}
                (inkl. Consumer)
              {% endif %}
            {% endif %}
          </td>
          <td><b>{{ data.usage | numberformat('de', 0) }}</b> kWh pro Jahr</td>
        </tr>
        {% if data.heatcloud_usage > 0 %}
          <tr>
            <td>
              Verbrauch Wärmestrom
            </td>
            <td><b>{{ data.heatcloud_usage | numberformat('de', 0) }}</b> kWh pro Jahr</td>
          </tr>
        {% endif %}
        {% if data.ecloud_usage > 0 %}
          <tr>
            <td>
              Verbrauch Gas
            </td>
            <td><b>{{ data.ecloud_usage | numberformat('de', 0) }}</b> kWh pro Jahr</td>
          </tr>
        {% endif %}
        <tr>
          <td>Größe der PV-Anlage</td>
          <td>
            {% if data.cloud_calulation.pv_kwp > 0 %}
              {{ data.cloud_calulation.pv_kwp | numberformat('de', 3) }} kWp
            {% else %}
              mind. {{ data.cloud_calulation.min_kwp | numberformat('de', 3) }} kWp
            {% endif %}
          </td>
        </tr>
        {% if offer.reseller.document_style == "bsh" %}
          <tr>
            <td>Ausrichtung der PV-Anlage</td>
            <td>{{ data.orientation_label }}</td>
          </tr>
          <tr>
            <td>Ertrag der PV-Anlage</td>
            <td><b>{{ (data.pv_efficiancy * data.cloud_calulation.pv_kwp) | numberformat('de', 0) }} kWh</b> pro Jahr</td>
          </tr>
        {% else %}
          <tr>
            <td>Ertrag der PV-Anlage</td>
            <td><b>{{ data.pv_efficiancy }} kWh</b> je kWp pro Jahr</td>
          </tr>
        {% endif %}
        <tr>
          <td>Degradation der PV-Anlage</td>
          <td>
            {% if offer.reseller.document_style == "bsh" %}
              <b>0,25 %</b>
            {% else %}
              <b>0,35 %</b>
            {% endif %}
          </td>
        </tr>
        {% if offer.reseller.document_style == "bsh" and data.storage_type %}
          <tr>
            <td>Speichersysteme</td>
            <td>
              {{ data.storage_type | nl2br | safe }}
            </td>
          </tr>
        {% else %}
          <tr>
            <td>Speichersysteme</td>
            <td>
              SENEC Li laut Angebot
            </td>
          </tr>
        {% endif %}
        {% if offer.reseller.document_style != "bsh" %}
          <tr>
            <td>Ausrichtung der PV-Anlage</td>
            <td>{{ data.orientation_label }}</td>
          </tr>
          <tr>
            <td>Autarkiegrad gemäß Hersteller</td>
            <td>ca. <b>60 %</b></td>
          </tr>
          <tr>
            <td>Verwendeter Autarkiegrad</td>
            <td><b>60 %</b></td>
          </tr>
        {% endif %}
        <tr>
          <td>Inbetriebnahme der PV-Anlage</td>
          <td>
            {% if offer.reseller.document_style == "bsh" %}
              {{ offer.datetime | dateformat }}
            {% else %}
              {{ data.in_use_date | dateformat }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Inbetriebnahme des Speichers</td>
          <td>
            {% if offer.reseller.document_style == "bsh" %}
              {{ offer.datetime | dateformat }}
            {% else %}
              {{ data.in_use_date | dateformat }}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <div class="right-side">&nbsp;</div>
  </div>

</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
