<style>
  .page_rewards {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .page_rewards .left-side {
    flex: 10;
    padding-left: 50px;
  }
  .page_rewards .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 44px;
    padding: 40px 100px 50px 0;

  }
  .page_rewards .cable-img {
    flex: 1;
    background: url("{{ data.base_url }}/static/feasibility_study_2020/cable.jpg") no-repeat top right;
    background-size: contain;
  }
  .page_rewards .right-side {
    flex: 1 0 20%;
    background: url("{{ data.base_url }}/static/feasibility_study_2020/lightbulb.jpg");
    background-size: cover;
  }
</style>


<div class="page_rewards">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="flex layout horizontal">
    <div class="left-side">
      <div class="headline">
        Unsere Auszeichnungen
        sprechen für sich
      </div>

      <div style="line-height: 2.8em; padding-right: 10em;">
        Mit unseren cleveren Energielösungen sorgen wir für Ihre zuverlässige
        Stromversorgung und regenerative Energie. Die Auszeichnungen für
        unsere SENEC-Produkte bestätigen, dass wir ein verlässlicher Partner
        für die umweltverträgliche und nachhaltige Energieversorgung mit
        Solarstrom sind.
      </div>
      <br>
      <img style="width: 80%;" src="{{ data.base_url }}/static/feasibility_study_2020/certificates.jpg" />

    </div>
    <div class="right-side">&nbsp;</div>
  </div>

</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
