

<style>

  .page_solution_by_senec .left_side {
    flex: 1 0 70%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    {% if offer.reseller.document_style == "bsh" %}
      background-image: url("{{ data.base_url }}/static/feasibility_study_2020/girl_beach.jpg");
    {% else %}
      background-image: url("{{ data.base_url }}/static/feasibility_study_2020/woman.jpg");
    {% endif %}
    background-size: cover;
    border-bottom: 12px solid #AEBF00;
  }

  .page_solution_by_senec .heading {
    background-color: #00509D;
    margin-top: 430px;
    padding: 1.5em 4.5em;
    color: #ffffff;
    position: relative;

  }
  .page_solution_by_senec .heading::after {
    position: absolute;
    content: " ";
    left: -10%;
    bottom: -40px;
    height: 40px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-radial-gradient(center, ellipse contain,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse contain,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse farthest-side at center top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .page_solution_by_senec .heading .large {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
  }
  .page_solution_by_senec .heading .small {
    font-size: 25px;
    font-weight: 300;
  }
  .page_solution_by_senec .right_side {
    flex: 1 0 30%;
    background-size: cover;
  }
  .page_solution_by_senec .sidenote {
    position: absolute;
    right: 50px;
    bottom: 50px;
  }
  .page_solution_by_senec .sidenote .large {
    font-size: 1.2em;
  }
</style>

<div class="page_solution_by_senec">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="layout horizontal">

    <div class="left_side">
      <div class="heading">
        <div class="large">Eine Lösung von {% if offer.reseller.document_style == "bsh" %}SENEC{% else %}energie360{% endif %}</div>
        <div class="small">Wir sind Ihr zuverlässiger Partner.</div>
      </div>
    </div>
    <div class="right_side">
      &nbsp;
    </div>
    {% if offer.reseller.document_style == "bsh" %}
      <div class="sidenote" style="font-size: 0.8em; bottom: 90px;">
        <div class="large">SENEC-Niederlassung</div>
        <div>BSH GmbH &amp; Co. KG</div>
      </div>
    {% else %}
    {% endif %}

  </div>

</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}

