<style>
  .page_finance_data {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .page_finance_data .left-side {
    flex: 1;
    padding-left: 50px;
  }
  .page_finance_data .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    padding: 30px 20px 30px 0;

  }
  .page_finance_data .right-side {
    flex: 1;
    padding-right: 50px;
  }
  .page_finance_data table tr.highlight {
    background-color: #AEBF00;
  }
</style>


<div class="page_finance_data">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="flex layout horizontal">
    <div class="left-side">

      <div class="step" style="margin-left: -50px;">
        <div class="step__number"><span>2</span></div>
        <div class="step__label">Wirtschaftliche Daten </div>
      </div>
      <div style="border-right: 2px solid #B0CA0A;">
        <table cellspacing="0" style="margin-right: 1em; width: calc(100% - 1em); ">
          <tr class="highlight">
            <td colspan="2">Bisher</td>
          </tr>
          <tr>
            <td>Effektiver Strompreis<br>(Brutto <b>inkl.</b> Grundgebühr)</td>
            <td><b>{{ (100 * data.conventional_base_cost_per_kwh) | numberformat('de', 2) }}</b>&nbsp;cent&nbsp;pro&nbsp;kWh</td>
          </tr>
          {% if data.cloud_calulation.conventional_price_heating_usage and data.cloud_calulation.conventional_price_heating_usage > 0 %}
            <tr>
              <td>Bisheriger
                {% if data.cloud_calulation.conventional_price_heating_usage_type == "gas" %}Gasverbrauch
                {% elif data.cloud_calulation.conventional_price_heating_usage_type == "oil" %}Ölverbrauch
                {% else %}Wärmeverbrauch{% endif %}</td>
              <td>
                {%- if data.cloud_calulation.conventional_price_heating_usage_type == "oil" -%}
                  <b>{{ (data.cloud_calulation.conventional_price_heating_usage / 10) | numberformat('de', 0) }}</b>&nbsp;Liter
                {%- else -%}
                  <b>{{ data.cloud_calulation.conventional_price_heating_usage | numberformat('de', 0) }}</b>&nbsp;kWh
                {%- endif %}
              </td>
            </tr>
            <tr>
              <td>Effektiver
                {% if data.cloud_calulation.conventional_price_heating_usage_type == "gas" %}Gaspreis
                {% elif data.cloud_calulation.conventional_price_heating_usage_type == "oil" %}Ölpreis
                {% else %}Wärmepreis{% endif %}
                <br>(Brutto <b>inkl.</b> Grundgebühr)</td>
              <td>
                {% if data.cloud_calulation.conventional_price_heating_usage_type == "oil" %}
                  <b>{{ (1000 * data.cloud_calulation.conventional_price_heating) | numberformat('de', 2) }}</b>&nbsp;cent&nbsp;pro&nbsp;Liter
                {% else %}
                  <b>{{ (100 * data.cloud_calulation.conventional_price_heating) | numberformat('de', 2) }}</b>&nbsp;cent&nbsp;pro&nbsp;kWh
                {% endif %}
              </td>
            </tr>
          {% else %}
            {% if data.heatcloud_usage > 0 %}
              <tr>
                <td>Effektiver Wärmestrompreis<br>(Brutto <b>inkl.</b> Grundgebühr)</td>
                <td><b>{{ (100 * data.conventional_heat_cost_per_kwh) | numberformat('de', 2) }}</b>&nbsp;cent&nbsp;pro&nbsp;kWh</td>
              </tr>
            {% endif %}
            {% if data.ecloud_usage > 0 %}
              <tr>
                <td>Effektiver Gaspreis<br>(Brutto inkl. Grundgebühr)</td>
                <td><b>{{ (100 * data.conventional_gas_cost_per_kwh) | numberformat('de', 2) }}</b>&nbsp;cent&nbsp;pro&nbsp;kWh</td>
              </tr>
            {% endif %}
          {% endif %}
          {% if offer.reseller.document_style == "bsh" %}
            <tr>
              <td>Strompreissteigerung & Inflation</td>
              <td><b>{{ data.full_cost_increase_rate | percentformat(2) }}</b> pro Jahr</td>
            </tr>
          {% else %}
            <tr>
              <td>Strompreissteigerung</td>
              <td><b>{{ data.cost_increase_rate | percentformat(2) }}</b> pro Jahr</td>
            </tr>
          {% endif %}
          <tr class="highlight">
            <td colspan="2">Zukünftig</td>
          </tr>
          <tr>
            <td>Anzahl Stromzähler</td>
            <td>{{ data.consumer_count }}</td>
          </tr>
          <tr>
            <td>Cloud-Beitrag</td>
            <td><b>{{ data.cloud_monthly_cost | currencyformat }} pro Monat
              {%- if data.cloud_runtime > 2 -%}*{%- endif -%}</b></td>
          </tr>
          <tr class="highlight">
            <td colspan="2">Vergütung</td>
          </tr>
          <tr>
            <td>Einspeisevergütung</td>
            <td>gemäß EEG</td>
          </tr>
          <tr>
            <td>EEG-Einspeisevergütung</td>
            <td>{{ (100 * data.eeg_refund_per_kwh) | numberformat('de', 2) }} cent pro kWh*{%- if data.cloud_runtime > 2 -%}*{%- endif -%}</td>
          </tr>
          <tr>
            <td>Einspeisevergütung nach Ablauf EEG</td>
            <td>{{ (100 * data.refund_per_kwh) | numberformat('de', 2) }} cent pro kWh</td>
          </tr>
          {% if offer.reseller.document_style != "bsh" %}
            <tr>
              <td>Inflationsrate</td>
              <td>{{ data.inflation_rate | percentformat(2) }}</td>
            </tr>
          {% endif %}
        </table>
      </div>
    </div>
    <div class="right-side">

      <div class="step" style="margin-left: -20px;">
        <div class="step__number"><span>3</span></div>
        <div class="step__label">Finanzdaten</div>
      </div>
      <div style="margin-left: 1em; width: calc(100% - 1em);">
        <table cellspacing="0" class="right">
          <tr class="highlight">
            <td colspan="2">Steuern</td>
          </tr>
          <tr>
            <td>PV-Anlagenbetreiber</td>
            <td>als Unternehmer</td>
          </tr>
          <tr>
            <td>Mehrwertsteuer</td>
            <td>19 %</td>
          </tr>
          <tr class="highlight">
            <td colspan="2">
              Finanzierung
              {% if data.loan_calculation and data.loan_calculation.type == "financing" %}
                {% if offer.data.financing_bank == "bsh" %}
                  über BSH
                {% else %}
                  über Hausbank
                {% endif %}
              {% endif %}
            </td>
          </tr>
          {% if data.loan_calculation %}
            {% if data.loan_calculation.upfront_payment > 0 %}
              <tr>
                <td>Anzahlung</td>
                <td>{{ data.loan_calculation.upfront_payment | currencyformat }}</td>
              </tr>
            {% endif %}
            {% if data.heating_offer_total > 0 %}
              <tr>
                <td>Kreditsumme PV</td>
                <td>{{ data.pv_offer_total | currencyformat }}</td>
              </tr>
              <tr>
                <td>Kreditsumme Heizung (inkl. Förderung**)</td>
                <td>{{ data.heating_offer_substitute_total | currencyformat }}</td>
              </tr>
              <tr>
                <td>Kreditsumme Gesamt</td>
                <td>{{ data.loan_calculation.load_amount | currencyformat }}</td>
              </tr>
            {% else %}
              <tr>
                <td>{% if data.loan_calculation.type == "leasing" %}Leasingsumme{% else %}Kreditsumme{% endif %} {% if offer.reseller.document_style == "bsh" %}(Nettoinvestition){% endif %}</td>
                <td>{{ data.loan_calculation.load_amount | currencyformat }}</td>
              </tr>
            {% endif %}
            <tr>
              <td>Laufzeit {% if data.loan_calculation.type == "leasing" %}des Leasing{% else %}der Finanzierung{% endif %}</td>
              <td>{{ data.loan_calculation.runtime_in_months }} Monate</td>
            </tr>
            {% if data.loan_calculation.type != "leasing" %}
              <tr>
                <td>Sollzinssatz (Beispiel)</td>
                <td>
                  {{ data.loan_calculation.interest_rate | percentformat(2) }} pro Jahr
                  {% if data.loan_calculation and data.loan_calculation.type == "financing" and offer.data.financing_bank == "bsh" and data.loan_calculation.interest_rate == 4.99 %}
                    {% if data.cloud_runtime > 2 %}
                      ***
                    {% else %}
                      **
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endif %}
            <tr>
              <td>Gesamtinvestition</td>
              <td>{{ data.loan_calculation.total_cost | currencyformat }}</td>
            </tr>
            <tr>
              <td>
                {% if offer.reseller.document_style == "bsh" %}
                  {% if data.loan_calculation.type == "leasing" %}
                    mtl. Leasingrate <small>(Nettoinvestition)</small>
                  {% else %}
                    mtl. Finanzierungsrate <small>(Nettoinvestition)</small>
                  {% endif %}
                {% else %}
                  monatliche Finanzierungsrate
                {% endif %}</td>
              <td><b>{{ data.loan_calculation.monthly_payment | currencyformat }}</b></td>
            </tr>
            {% if offer.reseller.document_style == "bsh" %}
              {% if data.loan_calculation.type != "leasing" %}
                <tr>
                  <td>mtl. Finanzierungsrate <small>(Bruttoinvestition)</small></td>
                  <td>{{ data.loan_calculation.monthly_payment_with_tax | currencyformat }}</td>
                </tr>
              {% else %}
                <tr>
                  <td>Leasing-Restwert</td>
                  <td>{{ data.loan_calculation.rest_value | currencyformat }}</td>
                </tr>
              {% endif %}
            {% endif %}
          {% else %}
            <tr>
              <td>Gesamtinvestition</td>
              <td>{{ data.loan_total | currencyformat }}</td>
            </tr>
          {% endif %}
        </table>
        <br>
        {% if data.loan_calculation and data.loan_calculation.type == "leasing" %}
          <small>
            Bei Vertragsbeginn wird eine einmalige Bearbeitungsgebühr von {{ data.loan_calculation.service_fee | currencyformat }} fällig.<br>
            Mtl. Leasingrate und Leasing-Restwert zzgl. jeweiliger gesetzlicher MwSt.
          </small>
        {% endif %}
        <br>
        {% if data.cloud_runtime > 2 %}
          * für {{ data.cloud_runtime }} Jahre garantiert<br>
          ** Derzeitig gültige EEG-Vergütungssätze Stand: {{ offer.datetime.strftime('%m') }}.{{ offer.datetime.year }}<br>
          {% if data.loan_calculation and data.loan_calculation.type == "financing" and offer.data.financing_bank == "bsh" and data.loan_calculation.interest_rate == 4.99 %}
            *** Achtung: Es handelt sich hierbei um einen Sonderzinssatz. Die finale Kreditentscheidung obliegt unserer Partnerbank.
            Sollte Ihre Anfrage mit 4,99% nicht genehmigt werden, wird Ihre Anfrage automatisch auf den aktuell gültigen Zinssatz i.H.v. 5,79% umgestellt.
          {% endif %}
        {% else %}
          * Derzeitig gültige EEG-Vergütungssätze Stand: {{ offer.datetime.strftime('%m') }}.{{ offer.datetime.year }}<br>
          {% if data.loan_calculation and data.loan_calculation.type == "financing" and offer.data.financing_bank == "bsh" and data.loan_calculation.interest_rate == 4.99 %}
            ** Achtung: Es handelt sich hierbei um einen Sonderzinssatz. Die finale Kreditentscheidung obliegt unserer Partnerbank.
            Sollte Ihre Anfrage mit 4,99% nicht genehmigt werden, wird Ihre Anfrage automatisch auf den aktuell gültigen Zinssatz i.H.v. 5,79% umgestellt.
          {% endif %}
          ** Eine volle 40% Bafa-Förderung kann nicht erreicht werden, bei einem Gebäude-Baujahr neuer als 2001<br>
        {% endif %}
        <br>
        <small>
          Bezüglich des Netto- oder Bruttoausweises der vorliegenden<br>
          Angaben wird auf die Erläuterungen im Anhang verwiesen.<br>
          <br>
          Haftungsausschluss: Unsere Online-Rechner werden mit größter Sorgfalt erstellt.<br>
          Für die Richtigkeit der Ergebnisse können wir jedoch keine Haftung übernehmen.
        </small>
      </div>
    </div>
  </div>

</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
