<style>
  .page_contact {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .page_contact .left-side {
    flex: 10;
    padding-left: 50px;
  }
  .page_contact .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    padding: 0 20px 0 0;

  }
  .page_contact .right-side {
    flex: 1 0 20%;
    background: url("{{ data.base_url }}/static/feasibility_study_2020/village.jpg");
    background-size: cover;
  }
  .page_contact .content {
    font-size: 0.8em;
    line-height: 1.7em;
  }
  .page_contact .content h2 {
    margin-top: 1em;
    margin-bottom: 0.2em;
  }
</style>


<div class="page_contact">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="flex layout horizontal">
    <div class="left-side">
      <div class="headline">
        Ihr starker Partner bei allen Fragen<br>rund um Energie
      </div>

      <div class="content layout horizontal">
        <div class="flex">
          <div class="highlight-box">
            <h2 style="color: #B0CA0A;">Wer wir sind und was wir tun</h2>
            <p>
              2009 gründete André Schön
              die energie360 GmbH &amp; Co KG
              mit Hauptsitz in Korbach sowie Niederlassungen im Rhein-Main Gebiet und im Rheinland.
            </p>
            <p>
              Das auf erneuerbare Energien
              spezialisierte Unternehmen vereint 4
              Meisterbetriebe unter einem Dach mit
              den Gewerken Dach, Heizung, Sanitär
              und Elektrik. Somit bietet energie360
              ein „Rundum-Sorglospaket“ für alle
              Energie-Projekte.
              Von der Beratung über die Montage bis hin zur Wartung – <b>alles aus einer Hand.</b>
            </p>
            <h2 style="color: #B0CA0A;">Unser Ziel</h2>
            <p>
              Die individuelle Beratung, das
              Aufzeigen von Energiesparpotentialen
              und das Anbieten von
              maßgeschneiderten Lösungen für Ihre
              Bedürfnisse ist unser
              ausgesprochenes Ziel. Mit unserem
              Konzept konnten wir bereits private
              Haushalte, gewerbliche und industrielle
              Unternehmen sowie die öffentliche
              Hand als Kunden gewinnen und
              bereits mehr als 5.000 Photovoltaik-
              Anlagen verbauen.
            </p>
          </div>
        </div>
        <div style="width: 1em;"></div>
        <div class="flex">
          <h2 style="color: #B0CA0A;">Die Geschäftsführung</h2>
          <p>
            <b>Andre Schön</b> ist EnergieManager &
            Sachverständiger für <br>
            Photovoltaikanlagen. Er ist
            Gesellschafter und Geschäftsführer
            der energie360 GmbH &amp; Co. KG.
          </p>
          <p>
            Seit über 18 Jahren ist er in der
            Energiebranche tätig und besitzt
            langjährige Erfahrungen im Bereich der
            erneuerbaren Energien.
          </p>
          <p>
            Als einer der ersten SENEC Partner in
            Deutschland hat das Unternehmen
            eine besondere und enge Verbindung
            mit dem Speicherhersteller. So
            konnten bereits mehr als 3.500
            Speicher verbaut werden.
          </p>
          <p>
            Als Partnerunternehmen der EnBW-
            Gruppe hat die energie360 GmbH &amp;
            Co. KG seit 2018 noch einen echten
            Powerplayer an seiner Seite.
          </p>
          <p>
            Energie360 – Weil Qualität nicht verhandelbar ist!
          </p>
          <div class="align-center">
            <img style="width: 80%;" src="{{ data.base_url }}/static/feasibility_study_2020/energie-logo.jpg" />
          </div>
        </div>
        <div style="width: 2em;"></div>
      </div>

    </div>
    <div class="right-side">&nbsp;</div>
  </div>

</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
