<style>
  .page_disclaimer .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    padding: 0 30px 10px 30px;

  }
  .page_disclaimer .content {
    padding: 0 30px ;
    font-size: 0.75em;
  }
</style>


<div class="page_disclaimer">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="headline">
    Erläuterungen
  </div>
  <div class="content">
    <p>
      <b>Cloud.Zero und weitere Cloud Produkte</b>
    </p>
    <p>
      Für den angegebenen Stromverbrauch|Energieverbrauch wird durch rechnerisch hinterlegte Variablen ein passendes Angebot erstellt. Die Cloud Konfiguration ist Bestandteil des Angebotes.
    </p>
    <p>
      Der Cloud Preis für die abgedeckte Energiemenge ist für 12 Jahre garantiert, wenn in der Konfiguration nicht anders beschrieben.
    </p>
    <p>
      Eingeschränkte Preisgarantie. Zum Beispiel sind nicht beeinflussbare Kosten wie z.B. Erhöhung der Mwst von der Garantie ausgeschlossen. Weiteres über Deutschlands sicherste Cloud finden Sie in den Cloud AGB ́s
    </p>
    <p>
      <b>Ausweis von Netto- und Bruttobeträgen (Mehrwertsteuer)</b>
    </p>
    <p>
      Für die gesamte Wirtschaftlichkeitsrechnung ist folgende Logik für Steuerannahmen hinterlegt:<br>
      Unabhängig von den Steuerannahmen werden die Einnahmen aus der PV-Einspeisung immer netto ausgewiesen, da diese vom Betreiber abgeführt werden müssen.
    </p>
    <p>
      PV-Anlagenbetreiber:<br>
      <br>
      „Als Unternehmer“ werden die Investitionskosten sowie die laufenden Ausgaben netto ausgewiesen.<br>
      „Als Kleinunternehmer“ werden die Investitionskosten sowie die laufenden Ausgaben brutto ausgewiesen.<br>
      „Als Unternehmer mit Wechsel zum Kleinunternehmer nach 5 Betriebsjahren“ werden die Investitionskosten sowie die laufenden Ausgaben die ersten 5 vollen Kalenderjahre (zzgl. Investitionsjahr) netto und danach brutto
      ausgewiesen.
    </p>
    <p>
      Weiteres:<br>
      <br>
      Bei der Berechnung der Cloud, wurde mit der gesetzlichen vorgegebenen Anschluss Variante, der sogenannten 70/30 kalkuliert. Sollte der Kunde sich für eine weitere Einschränkung zum erhalt von Fördermitteln (z.b. NRW
      Progress 50/50 Variante) entscheiden, wird die Cloud entsprechend angepasst. Für Pakete bis 10000 kWh Stromverbrauch (a) wird die Cloud um 10,- Euro mtl. erhöht. Bei Verbräuchen über 10000 kWh wird die berechnete Cloud
      um 19,- Euro mtl. erhöht. Preise verstehen sich inkl. Mwst.<br>
      <br>
      Bei Wärmepumpen bzw. Hybrid Anlagen wurde der Umrechnungsfaktor mittels Formel errechnet.
      Ebenfalls der Anteil Strom/Gas Verbrauch für die Wärme bzw. die eCloud. Hier handelt es sich um ein vereinfachtes verfahren.
      Diese Beispielwerte können jedoch je nach nutzen erheblich abweichen.<br>
      <br>
      In der WI aufgezeigte Förderungen sind nicht garantiert. Sie können ausgelaufen, oder ausgeschöpft sein. Für die Beantragung ist, wenn nicht anders schriftlich vereinbart, der Kunde zuständig.
    </p>
  </div>
</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
