<style>
  .page_steps_table .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 31px;
    padding: 0px 0px 20px 0;

  }
  .page_steps_table .content {
    padding: 0 50px ;
    font-size: 0.8em;
  }
  .page_steps_table ul {
    padding: 0;
    margin: 0 0 0 2em;
  }
  .page_steps_table table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    vertical-align: top;
  }
  .page_steps_table table td:first-child {
    padding-left: 1em;
  }
</style>


<div class="page_steps_table">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="content">
    <div class="headline">
      Wir begleiten Sie Schritt für Schritt in Ihre persönliche Energierunabhängigkeit.
    </div>

    <table cellspacing="0" class="no-flag">
      <tr>
        <td width="18%"></td>
        <td width="42%"><b>Fachpartner</b></td>
        <td width="40%"><b>Kunde</b></td>
      </tr>
      <tr>
        <td>
          <b>1. Unverbindliches <br>
          Beratungsgespräch</b>
        </td>
        <td>
          <ul>
            <li>Standortbesichtigung und Aufnahme Rahmenbedingungen</li>
            <li>Beratung Cloud-Optionen</li>
            <li>Informationen zu möglichen Steuerregelungen</li>
            <li>Besprechung Fördermöglichkeiten</li>
            <li>Komplette Datenaufnahme zu Photovoltaik, Speicher und Strom</li>
          </ul>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><b>2. Angebotsbesprechung</b></td>
        <td>
          <ul>
            <li>Wirtschaftlichkeitsberechnung</li>
            <li>Erklärung Steuermodell und Optionen</li>
            <li>Beratung Fördermöglichkeiten</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Entscheidung zu individuellen Steuermodellen<br>
              (z.B. mit Steuerberater)</li>
            <li>Optional: Entscheidung Fördermöglichkeit</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>3. Vertragsabschluss</b></td>
        <td><ul><li>Überreichen des finalen Angebots zur Durchsicht</li></ul></td>
        <td>
          <ul>
            <li>Angebotsannahme und Unterzeichnung</li>
            <li>Unterzeichnung des Cloud Antrags</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>4. Umsetzungsvorbereitung</b></td>
        <td>
          <ul>
            <li>Bei Bedarf weitere Standortbesichtigung</li>
            <li>Technische Detailplanung / Anlagenauslegung</li>
            <li>Vereinbarung eines verbindlichen Liefer- und Installationstermins</li>
            <li>Anmeldung beim VNB</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Beantwortung Anmeldeformular PV-Anlage & Rücksendung an VNB</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>5. Anlagenmontage und<br>
          Inbetriebnahme</b></td>
        <td>
          <ul>
            <li>Anlagenmontage und Installation</li>
            <li>Inbetriebnahme der Anlage / in manchen Gebieten gemeinsam mit
            VNB und dann häufig mehrere Wochen Wartezeit</li>
          </ul>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3" class="align-center" style="background-color: #AEBF00; color: #464545;">
          <b>Gemeinsame Anlagenbegehung</b>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="align-center" style="background-color: #00509D; color: #ffffff;">
          <b>Gemeinsame Abnahme und Unterweisung inkl. aller Anlagendokumente</b>
        </td>
      </tr>
      <tr>
        <td><b>6. Abschluss nach der Inbetriebnahme</b></td>
        <td></td>
        <td>
          <ul>
            <li>Meldung PV-Anlage und Speicher bei BNetzA</li>
            <li>Gegebenenfalls Meldung bei Förderung</li>
            <li>Fragebogen zur steuerlichen Erfassung / monatliche USt-Meldungen</li>
            <li>Einreichung von finalen Unterlagen (falls Förderung)</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
