<style>
  .page_disclaimer .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    padding: 0 30px 10px 30px;

  }
  .page_disclaimer .content {
    padding: 0 30px ;
    font-size: 0.75em;
  }
</style>


<div class="page_disclaimer">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="headline">
    Erläuterungen
  </div>
  <div class="content">
    <p>
      <b>C.Cloud und C.Cloud Spezial, C.Cloud.ZERO und weitere Cloud Produkte</b>
    </p>
    <p>
      Es wird je nach Stromverbrauch und PV-Anlagengröße in Pakete unterteilt, welche sich anhand der von Ihnen benötigten freien Rückliefermenge bzw. Stromverbrauch orientieren. Der finanzielle Mehrwert der C.Cloud setzt sich aus den zusätzlich vermiedenen Stromkosten abzüglich der C.Cloud-Beiträge zusammen. <br>
      Sollte die Erzeugungsmenge der PV-Anlage für den angegebenen Stromverbrauch nicht ausreichen, wird der Mehrverbrauch für Lichtstrom (0,2779 €/kWh Brutto) oder der Mehrverbrauch 4 0,228 €/kWh Brutto) fällig. Bei einer C.Cloud Spezial wird ein individueller Beitrag kalkuliert. Da in diesem kalkulierten Beitrag die Einspeisevergütung bereits verrechnet ist, erfolgt kein gesonderter Ausweis der daraus resultierenden Einnahmen in der
      Erfolgsrechnung. Mehrpreise für Strom entnehmen Sie bitte der Cloud Spezial Berechnung.
    </p>
    <p>
      Der Cloud.ZERO (a) Beitrag ist für den angegebenen Stromverbrauch.(eigen Benutzer PV Strom - sowie Strom aus der Cloud/Netz) für 10 Jahre garantiert. Eingeschränkte Preisgarantie. Zum Beispiel sind nicht beeinflussbare Kosten wie z.B. Mwst Erhöhung von der Garantie ausgeschlossen. Die genaue Erklärung entnehmen Sie den Cloud AGB´s.
    </p>
    <p>
      <b>Ausweis von Netto- und Bruttobeträgen (Mehrwertsteuer)</b>
    </p>
    <p>
      Für die gesamte Wirtschaftlichkeitsrechnung ist folgende Logik für Steuerannahmen hinterlegt:<br>
      Unabhängig von den Steuerannahmen werden die Einnahmen aus der PV-Einspeisung immer netto ausgewiesen, da diese vom Betreiber abgeführt werden müssen.
    </p>
    <p>
      PV-Anlagenbetreiber:<br>
      <br>
      „Als Unternehmer“ werden die Investitionskosten sowie die laufenden Ausgaben netto ausgewiesen.<br>
      „Als Kleinunternehmer“ werden die Investitionskosten sowie die laufenden Ausgaben brutto ausgewiesen.<br>
      „Als Unternehmer mit Wechsel zum Kleinunternehmer nach 5 Betriebsjahren“ werden die Investitionskosten sowie die laufenden Ausgaben die ersten 5 vollen Kalenderjahre (zzgl. Investitionsjahr) netto und danach brutto
      ausgewiesen.
    </p>
    <p>
      Stromlieferung:<br>
      <br>
      „Vorsteuerabzugsberechtigt“: alle Kosten für Stromlieferungen sowie die Kosten für SENEC.Cloud-Pakete und Mehrverbräuche werden netto ausgewiesen. „Nicht vorsteuerabzugsberechtigt“: alle Kosten für Stromlieferungen sowie
      die Kosten für SENEC.Cloud-Pakete und Mehrverbräuche werden brutto ausgewiesen.
    </p>
    <p>
      Weiteres:<br>
      <br>
      Bei der Berechnung der Cloud, wurde mit der gesetzlichen vorgegebenen Anschluss Variante, der sogenannten 70/30 kalkuliert. Sollte der Kunde sich für eine weitere Einschränkung zum erhalt von Fördermitteln (z.b. NRW
      Progress 50/50 Variante) entscheiden, wird die Cloud entsprechend angepasst. Für Pakete bis 10000 kWh Stromverbrauch (a) wird die Cloud um 10,- Euro mtl. erhöht. Bei Verbräuchen über 10000 kWh wird die berechnete Cloud
      um 19,- Euro mtl. erhöht. Preise verstehen sich inkl. Mwst.
    </p>
  </div>
</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
