<style>
  .page_notes .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    padding: 0 30px 10px 30px;

  }
  .page_notes .content {
    padding: 0 30px ;
    font-size: 0.75em;
  }
</style>


{% set total_montly_convetional = 0 %}
{% set total_montly_convetional_half_time = 0 %}
{% set total_montly_convetional_full_time = 0 %}
{% set total_montly_new = 0 %}
<div class="page_notes">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="headline">
    Wirtschaflichkeitsberechnung<br>
    <small style="font-size: 0.7em;">Zusammenfassung  & Gegenüberstellung</small>
  </div>
  <div class="layout horizontal">
    <div class="content flex">
      <table>
        <tr class="highlight highlight-grey">
          <td colspan="3"><b>Energiekosten ohne Energetische Sanierung</b></td>
        </tr>

        {% set total_montly_convetional = total_montly_convetional + data.lightcloud.price_today %}
        {% set total_montly_convetional_half_time = total_montly_convetional_half_time + data.lightcloud.price_half_time %}
        {% set total_montly_convetional_full_time = total_montly_convetional_full_time + data.lightcloud.price_full_time %}
        <tr>
          <td>Lichtstrom</td>
          <td>{{ data.lightcloud.price_today | currencyformat }} mtl.</td>
        </tr>
        {% if data.heatcloud %}
          {% set total_montly_convetional = total_montly_convetional + data.heatcloud.price_today %}
          {% set total_montly_convetional_half_time = total_montly_convetional_half_time + data.heatcloud.price_half_time %}
          {% set total_montly_convetional_full_time = total_montly_convetional_full_time + data.heatcloud.price_full_time %}
          <tr>
            <td>Wärmeenergie</td>
            <td>{{ data.heatcloud.price_today | currencyformat }} mtl.</td>
          </tr>
        {% endif %}
        {% if data.ecloud %}
          {% set total_montly_convetional = total_montly_convetional + data.ecloud.price_today %}
          {% set total_montly_convetional_half_time = total_montly_convetional_half_time + data.ecloud.price_half_time %}
          {% set total_montly_convetional_full_time = total_montly_convetional_full_time + data.ecloud.price_full_time %}
          <tr>
            <td>Gasenergie</td>
            <td>{{ data.ecloud.price_today | currencyformat }} mtl.</td>
          </tr>
        {% endif %}
        {% if data.consumer %}
          {% set total_montly_convetional = total_montly_convetional + data.consumer.price_today %}
          {% set total_montly_convetional_half_time = total_montly_convetional_half_time + data.consumer.price_half_time %}
          {% set total_montly_convetional_full_time = total_montly_convetional_full_time + data.consumer.price_full_time %}
          <tr>
            <td>Lichtstrom Nebenstelle</td>
            <td>{{ data.consumer.price_today | currencyformat }} mtl.</td>
          </tr>
        {% endif %}
        {% if data.ecloud and data.ecloud.conventional_maintenance_per_year > 0 %}
          {% set total_montly_convetional = total_montly_convetional + (data.ecloud.conventional_maintenance_per_year / 12) %}
          {% set total_montly_convetional_half_time = total_montly_convetional_half_time + (data.ecloud.conventional_maintenance_per_year / 12) %}
          {% set total_montly_convetional_full_time = total_montly_convetional_full_time + (data.ecloud.conventional_maintenance_per_year / 12) %}
          <tr>
            <td>Reparatur/Wartung/Erstzteile</td>
            <td>{{ (data.ecloud.conventional_maintenance_per_year / 12) | currencyformat }} mtl.</td>
          </tr>
        {% endif %}
        {% if data.heatcloud and data.heatcloud.conventional_maintenance_per_year > 0 %}
          {% set total_montly_convetional = total_montly_convetional + (data.heatcloud.conventional_maintenance_per_year / 12) %}
          {% set total_montly_convetional_half_time = total_montly_convetional_half_time + (data.heatcloud.conventional_maintenance_per_year / 12) %}
          {% set total_montly_convetional_full_time = total_montly_convetional_full_time + (data.heatcloud.conventional_maintenance_per_year / 12) %}
          <tr>
            <td>Reparatur/Wartung/Erstzteile</td>
            <td>{{ (data.heatcloud.conventional_maintenance_per_year / 12) | currencyformat }} mtl.</td>
          </tr>
        {% endif %}
      </table>
    </div>
    <div class="content flex">
      <table class="right">
        <tr class="highlight">
          <td colspan="2"><b>Energiekosten nach Sanierungsvorschlag</b></td>
        </tr>
        {% set total_montly_new = total_montly_new + data.lightcloud.price_tomorrow %}
        <tr>
          <td>Cloud - Lichtstrom</td>
          <td>{{ data.lightcloud.price_tomorrow | currencyformat }} mtl.</td>
        </tr>
        {% if data.heatcloud %}
          {% set total_montly_new = total_montly_new + data.heatcloud.price_tomorrow %}
          <tr>
            <td>Cloud - Wärmeenergie</td>
            <td>{{ data.heatcloud.price_tomorrow | currencyformat }} mtl.</td>
          </tr>
        {% endif %}
        {% if data.ecloud %}
          {% set total_montly_new = total_montly_new + data.ecloud.price_tomorrow %}
          <tr>
            <td>Cloud - Wärmeenergie</td>
            <td>{{ data.ecloud.price_tomorrow | currencyformat }} mtl.</td>
          </tr>
        {% endif %}
        {% if data.consumer %}
          {% set total_montly_new = total_montly_new + data.consumer.price_tomorrow %}
          <tr>
            <td>Cloud - Consumer</td>
            <td>{{ data.consumer.price_tomorrow | currencyformat }} mtl.</td>
          </tr>
        {% endif %}

        {% if data.maintainance_cost_monthly > 0 %}
          {% set total_montly_new = total_montly_new + data.maintainance_cost_monthly %}
          {% if data.maintainance_cost_monthly < 10 %}
            <tr>
              <td>Rücklagen</td>
              <td>{{ data.maintainance_cost_monthly | currencyformat }} mtl.</td>
            </tr>
          {% else %}
            <tr>
              <td>Reparatur/Wartung/Erstzteile</td>
              <td>{{ data.maintainance_cost_monthly | currencyformat }} mtl.</td>
            </tr>
          {% endif %}
        {% endif %}
        {% if data.loan_calculation %}
          {% set total_montly_new = total_montly_new + data.loan_calculation.monthly_payment  %}
        {% endif %}
        <tr>
          <td>Investition</td>
          <td>{{ (data.pv_offer_total + data.heating_offer_total)| currencyformat }}</td>
        </tr>
        {% if (data.pv_offer_total + data.heating_offer_total) != data.loan_amount %}
          <tr>
            <td>Investition (nach Förderung)</td>
            <td>{{ data.loan_amount  | currencyformat }}</td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>
  <div class="layout horizontal">
    <div class="content flex">
      <table>
        <tr class="highlight highlight-grey">
          <td colspan="3"><b>Monatliche Belastung</b></td>
        </tr>
        <tr>
          <td>heute</td>
          <td>in 6 Jahren</td>
          <td>in 12 Jahren</td>
        </tr>
        <tr>
          <td>{{ total_montly_convetional | currencyformat }} mtl.</td>
          <td>{{ total_montly_convetional_half_time | currencyformat }} mtl.</td>
          <td>{{ total_montly_convetional_full_time | currencyformat }} mtl.</td>
        </tr>
      </table>
    </div>
    <div class="content flex">
      <table class="right">
        <tr class="highlight">
          {% if data.loan_calculation %}
            <td colspan="3"><b>Monatliche Belastung inkl. Finanzierungsrate (Zinssatz {{ data.loan_calculation.interest_rate | percentformat(2) }} pro Jahr)</b></td>
          {% else %}
            <td colspan="3"><b>Monatliche Belastung</b></td>
          {% endif %}
        </tr>
        <tr>
          <td>heute</td>
          <td>in 6 Jahren</td>
          <td>in 12 Jahren</td>
        </tr>
        <tr>
          <td>{{ total_montly_new | currencyformat }}</td>
          <td>{{ total_montly_new | currencyformat }} mtl.</td>
          <td>{{ total_montly_new | currencyformat }} mtl.</td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div style="padding: 0 0 0.6em; text-align: center; font-size: 1.2em;">Durchschnittliche Kosten:</div>
  <div style="background-color: rgb(230, 230, 230); text-align: center; font-size: 1.2em; padding: 0.4em 0;">
    <div class="content layout horizontal ">
      <div class="flex">
        <div style="font-size: 1.8em">{{ ((total_montly_convetional + total_montly_convetional_half_time + total_montly_convetional_full_time) / 3) | currencyformat }}</div>
        <div style="font-size: 0.9em">pro Monat <b>ohne</b> Energiekonzept</div>
      </div>
      <div class="flex">
        <div style="font-size: 1.8em">{{ total_montly_new | currencyformat }}</div>
        <div style="font-size: 0.9em">pro Monat <b>mit</b> Energiekonzept</div>
      </div>
    </div>
  </div>
  <div class="content">
    <br>
    <b>Photovoltaikanlagen</b> können zur <b>Wertsteigerung</b> der Immobilie führen. Eine Solaranlage auf dem Dach bietet finanzielle und ökologische Vorteile. Richtig geplant,
    verdienen Sie mit der Anlage Geld und zusätzlich steigt der Wert Ihrer Immobilie.<br>
    <br>
    Heizungsmodernisierung trägt zur <b>Wertsteigerung</b> von Immobilien bei. ... 48 Prozent der befragten Makler gehen davon aus, dass sich bereits der Anschein eines
    hohen energetischen Sanierungsbedarfs negativ auf den erzielbaren Immobilien-Preis auswirkt.
  </div>
</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
