<style>
  .page_disclaimer .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    padding: 0 30px 10px 30px;

  }
  .page_disclaimer .content {
    padding: 0 30px ;
    font-size: 0.75em;
  }
</style>


<div class="page_disclaimer">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="headline">
    Erläuterungen zur Cloud und den weiteren Cloud Produkten
  </div>
  <div class="content" style="padding-bottom: 10px;">
    <p>
      Je nach Stromverbrauch und vorhandener Dachfläche, sowie Cloud-Optionen wird eine PV-Anlagengröße angeboten. Die berechnete Cloud Gebühr gilt für den vereinbarten Gesamtverbrauch (a) im Konfigurations-Angebot. Der finanzielle Mehrwert der Cloud setzt sich aus den zusätzlich vermiedenen Stromkosten bzw. Energiekosten abzüglich der Cloud-Beiträge zusammen. Sollte die Erzeugungsmenge der PV-Anlage für den angegebenen Stromverbrauch (a) nicht ausreichen, wird der Mehrverbrauch für Lichtstrom mit derzeit ({{ (offer.calculated.lightcloud_extra_price_per_kwh * 100) | numberformat('de', 2) }} Cent/kWh Brutto) oder der Mehrverbrauch für Wärmestrom
      mit {{ (offer.calculated.heatcloud_extra_price_per_kwh * 100) | numberformat('de', 2) }} Cent/kWh Brutto) berechnet. Minderverbrauch wird vergütet, wie in der Konfiguration unter „Cash Back“ erläutert. Die Preise pro kWh des Mehrverbrauchs unterliegen keiner Preisbindung. Der Cloud Beitrag gilt für eigen genutzten PV Strom - sowie Strom aus der Cloud über das Netz. Die genaue Erklärung entnehmen Sie den aktuellen Cloud AGB´s. Beim Ausweis von Netto- und Bruttobeträgen (Mehrwertsteuer) für die gesamte Wirtschaftlichkeitsrechnung ist folgende Logik für Steuerannahmen hinterlegt: Unabhängig von den Steuerannahmen werden die
      Einnahmen aus der PV-Einspeisung immer netto ausgewiesen, da diese vom Betreiber abgeführt werden müssen. PV-Anlagenbetreiber: „Als Unternehmer“ werden die Investitionskosten
      sowie die laufenden Ausgaben netto ausgewiesen.<br>
      Weiteres: Bei der Berechnung der Cloud, wurde mit der gesetzlich vorgegebenen Anschlussvariante, der sogenannten 70/30 Regelung kalkuliert.
      Sollte der Kunde sich für eine höhere Einschränkung zum Erhalt von Fördermitteln entscheiden, wird die Cloud entsprechend angepasst. Für Pakete bis
      10000 kWh Stromverbrauch (a) wird die Cloud um 10,- Euro mtl. erhöht. Bei Verbräuchen über 10000 kWh wird die berechnete Cloud um 19,- Euro mtl. erhöht. Die Preise verstehen sich inkl.
      MwSt.
    </p>
  </div>
  <div class="headline">
    Wichtige Hinweise
  </div>
  <div class="content">
    <p>
      <b>Haftungsausschluss</b>
    </p>
    <p>
      Bei den hier dargestellten Ergebnissen handelt es sich um eine Prognoseberechnung unter Zugrundlegung von Durchschnittsangaben aufgrund historischer Werte. Dabei werden u.U. in der Realität komplexere Sachverhalte bewusst teilweise vereinfachend oder abstrahierend dargestellt und berechnet, um dem Nutzer die Eingabe zu erleichtern und ihm eine schnelle Informationsgewinnung in Form eines Überblicks zu ermöglichen. Die Ergebnisse dieser Auswertung können daher von einer genauen Berechnung im Einzelfall und in der Praxis teilweise nicht unerheblich abweichen, in diesem Sinne objektiv unrichtig sein und können die individuelle Beratung grundsätzlich nicht ersetzen.
    </p>
  </div>
</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
