<style>
  .page_price_change {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .page_price_change .left-side {
    position: relative;
    flex: 1;
    padding-left: 50px;
  }
  .page_price_change .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    padding: 0 36vw 30px 50px;
    position: relative;
  }
  .page_price_change .headline::before {
    position: absolute;
    content: " ";
    background: url("{{ data.base_url }}/static/feasibility_study_2020/cable.jpg") no-repeat;
    background-size: contain;
    right: 0;
    top: -30px;
    width: 36vw;
    height: 300px;
  }
  .page_price_change .right-side {
    position: relative;
    flex: 1;
    padding-right: 50px;
  }
  .page_price_change .large {
    padding: 1em 0 0.5em;
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
  }
  .page_price_change .bar {
    margin-right: 1em;
  }
</style>

{% set heating_cost = 0 %}
{% if data.heatcloud %}
  {% set heating_cost = heating_cost + data.heatcloud.price_runtime %}
{% endif %}
{% if data.ecloud %}
  {% set heating_cost = heating_cost + data.ecloud.price_runtime %}
{% endif %}


{% set total_conventional_cost = data.lightcloud.price_runtime %}
{% set total_conventional_cost = total_conventional_cost + heating_cost %}
{% if data.consumer %}
  {% set total_conventional_cost = total_conventional_cost + data.consumer.price_runtime %}
{% endif %}
{% if data.emove %}
  {% set total_conventional_cost = total_conventional_cost + data.emove.price_runtime %}
{% endif %}

<div class="page_price_change">
  {% include('feasibility_study_2020/elements/logos.html') %}

  <div class="headline">
    Machen Sie sich unabhängig von Preisschwankungen am Strommarkt
  </div>

  <div class="flex layout horizontal">

    <div class="left-side">

      <div class="layout horizontal">
        <div style="display: flex; align-items: flex-end;">
          <div class="bar bar--grey" style="height: 100%;">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top">
              <div class="left"></div>
              <div class="right"></div>
            </div>
          </div>
        </div>
        <div>
          Ist-Situation bei Energieverbrauch<br>
          in {{ data.runtime }} Jahren</b>
          <div class="large">
            {{ total_conventional_cost | currencyformat("de", 0) }}
          </div>
          <div class="smaller">Energiekosten in {{ data.runtime }} Jahren</div>
        </div>
      </div>
      <br>
      <div style="border-right: 2px solid #B0CA0A;">
        <table cellspacing="0" style="margin-right: 1em; width: calc(100% - 1em); ">
          <tr class="highlight highlight--dark">
            <td colspan="2">Zusammensetzung</td>
          </tr>
          <tr>
            <td>Kosten für Haushaltsstrom <small>(brutto)</small></td>
            <td class="align-right"><b>{{ data.lightcloud.price_runtime | currencyformat("de", 0) }}</b></td>
          </tr>
          {% if data.consumer %}
            <tr>
              <td>Kosten für Extra Consumer <small>(brutto)</small></td>
              <td class="align-right"><b>{{ data.consumer.price_runtime | currencyformat("de", 0) }}</b></td>
            </tr>
          {% endif %}
          {% if data.heatcloud %}
            <tr>
              <td>Kosten für Wärme <small>(brutto)</small></td>
              <td class="align-right"><b>{{ data.heatcloud.price_runtime | currencyformat("de", 0) }}</b></td>
            </tr>
          {% endif %}
          {% if data.ecloud %}
            <tr>
              <td>Kosten für Gas <small>(brutto)</small></td>
              <td class="align-right"><b>{{ data.ecloud.price_runtime | currencyformat("de", 0) }}</b></td>
            </tr>
          {% endif %}
          {% if data.emove %}
            <tr>
              <td>Tankkosten</td>
              <td class="align-right"><b>{{ data.emove.price_runtime | currencyformat("de", 0) }}</b></td>
            </tr>
          {% endif %}
          <tr class="highlight highlight--dark">
            <td>Gesamtkosten</td>
            <td class="align-right">{{ total_conventional_cost | currencyformat("de", 0) }}</td>
          </tr>
        </table>
      </div>
      <small style="padding: 2em 1em; display: block;">
        Die oben genannten Energiekosten ergeben sich aus den von Ihnen zu zahlenden Grundgebühren und ihren angegebenen Energiekosten,
        unter Berücksichtigung einer Preissteigerung
        bei Strom von {{ data.cost_increase_rate | numberformat("de", 2) }}% sowie, wenn ausgewählt,
        bei Wärmekosten von {{ data.cost_increase_rate_heat | numberformat("de", 2) }}%
        {% if offer.reseller.document_style == "bsh" %}
          bei Gaskosten von {{ data.cost_increase_rate_ecloud | numberformat("de", 2) }}% und
        {% endif %}
        bei Tankkosten von {{ data.cost_increase_rate_emove | numberformat("de", 2) }}%.
        Berücksichtigt wurde eine Inflation von {{ data.inflation_rate | numberformat("de", 2) }}% jeweils pro Jahr
        innerhalb der kommenden {{ data.runtime }} Jahre.
      </small>
    </div>
    <div class="right-side">

      <div class="layout horizontal" style="padding-left: 1em;">
        <div style="display: flex; align-items: flex-end;">
          <div class="bar" style="height: {{ (data.cost_total / total_conventional_cost) * 85 + 15 }}%;">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top">
              <div class="left"></div>
              <div class="right"></div>
            </div>
          </div>
        </div>
        <div>
          <b>Unsere Lösung<br>
          in {{ data.runtime }} Jahren</b>
          <div class="large">
            {{ data.cost_total | currencyformat("de", 0) }}
          </div>
          <div class="smaller">
            {% if offer.reseller.document_style == "bsh" %}
              Investition + laufende Ausgaben - Einnahmen aus EEG
            {% else %}
              Investition, laufende Ausgaben und Verrechnung aus EEG
            {% endif %}
          </div>
        </div>
      </div>
      <br>
      <div style="margin-left: 1em; width: calc(100% - 1em);">
        <table cellspacing="0" class="right">
          <tr class="highlight">
            <td colspan="2">Zusammensetzung</td>
          </tr>
          {% if data.loan_calculation and data.loan_calculation.upfront_payment > 0 %}
            <tr>
              <td>Anzahlung</td>
              <td class="align-right"><b>{{ data.loan_calculation.upfront_payment | currencyformat }}</b></td>
            </tr>
          {% endif %}
          <tr>
            <td>
              Investitionskosten
              {% if data.loan_interest_rate > 0 %}
                <small>inkl. Zinsen</small>
              {% endif %}
            </td>
            <td class="align-right"><b>{{ data.loan_total | currencyformat("de", 0) }}</b></td>
          </tr>
          <tr>
            <td>
              Cloud Gebühren
              {% if offer.reseller.document_style == "bsh" %}
                <br>
                + Wartung <small>({{ data.maintainance_cost_yearly }} €/Jahr)<br></small>
                + Versicherung <small>({{ data.insurance_cost_yearly }} €/Jahr)<br></small>
                + Reparaturrücklagen <small>(10% der Anschaffungskosten)</small>
                {% if data.eeg_direct_usage_cost > 0 %}
                <br>+ verminderte EEG Umlage nach §61 EEG
                {% endif %}
              {% else %}
                <br>
                <small>
                    inkl. Remote Care | Versicherung und Rücklagen
                </small>
              {% endif %}
            </td>
            <td class="align-right"><b>{{ data.cloud_total | currencyformat("de", 0) }}</b></td>
          </tr>
          <tr class="highlight" {% if data.loan_calculation and data.loan_calculation.upfront_payment > 0 %} style="background-color: #fff;" {% endif %}>
            <td>Gesamtkosten</td>
            <td class="align-right"><b>{{ data.cost_total | currencyformat("de", 0) }}</b></td>
          </tr>
          <tr>
            <td>Vorteil über {{ data.runtime }} Jahre</td>
            <td class="align-right"><b>{{ data.cost_benefit | currencyformat("de", 0) }}</b></td>
          </tr>
          <tr>
            <td>Durchschnittlicher monatlicher Vorteil</td>
            <td class="align-right"><b>{{ (data.cost_benefit / data.runtime / 12) | currencyformat("de", 0) }}</b></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

{% include('feasibility_study_2020/elements/page_counter.html') %}
{% include('feasibility_study_2020/elements/created_at.html') %}
