<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PV-Angebot</title>
  {% include('quote_calculator/generator/style.html') %}
  {% include('quote_calculator/generator/elements/table.html') %}
  <style>
    .summary td {
      border-top: 1px double #333;
    }
    small {
      font-size: 0.8em;
    }
  </style>
</head>
<body>

  {% include('cloud2/annual_statement/head.html') %}
  <div class="letter-text" style="margin-top: 0em;">
    <b>Anlage Verbrauchsaufstellung für das Jahr: {{ statement.year }}</b><br>
    <br>
    <h2>Ihre Übersicht Entnahme &amp; Lieferung der Cloud ZERO 4.0</h2>
    <h3>Verbrauchsaufstellung: {{ data.pv_system.street }} {{ data.pv_system.street_nb }}, {{ data.pv_system.zip }} {{ data.pv_system.city }}</h3>
    <table>
      <tr class="heading">
        <th>von</th>
        <th>bis</th>
        <th>Abnahmeart</th>
        <th>Abnahme</th>
      </tr>
      {% for config in statement.configs %}
        {% for product in ["lightcloud", "heatcloud", "ecloud"] + config["customer_products"] %}
          {% if config[product] %}
            {% if config[product].actual_usage_net == 0 %}
              <tr>
                <td>{{ config[product].delivery_begin | dateformat }}</td>
                <td>{{ config[product].delivery_end | dateformat }}</td>
                <td>{{ config[product].label }} Verbrauch</td>
                <td style="text-align: right;">{{ config[product].actual_usage | numberformat("de", 0) }} kWh</td>
              </tr>
            {% else %}
              <tr>
                <td>{{ config[product].delivery_begin | dateformat }}</td>
                <td>{{ config[product].delivery_end | dateformat }}</td>
                <td>{{ config[product].label }} Netzbezug </td>
                <td style="text-align: right;">{{ config[product].actual_usage_net | numberformat("de", 0) }} kWh</td>
              </tr>
              {% if product != "ecloud" and (product != "heatcloud" or config["measuring_concept"] not in ["parallel_concept"]) %}
                <tr>
                  <td>{{ config[product].delivery_begin | dateformat }}</td>
                  <td>{{ config[product].delivery_end | dateformat }}</td>
                  <td>{{ config[product].label }} direkte Abnahme (PV-Anlage und Speicher)</td>
                  <td style="text-align: right;">{{ (config[product].actual_usage - config[product].actual_usage_net) | numberformat("de", 0) }} kWh</td>
                </tr>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <tr class="summary">
        <td colspan="3"><b>Cloudabnahme gesamt</b></td>
        <td style="text-align: right;">{{ statement.total_usage | numberformat("de", 0) }} kWh</td>
      </tr>
    </table>
    <br>
    <h2>Aufstellung Mehrverbrauch und Minderverbrauch</h2>
    <table>
      <tr class="heading">
        <th></th>
        <th></th>
        <th></th>
        <th colspan="3" style="text-align: center;">Verbrauch</th>
      </tr>
      <tr class="heading">
        <th>Cloud Produkt/Abnahmestelle</th>
        <th>von</th>
        <th>bis</th>
        <th>abgedeckt</th>
        <th>ermittelt</th>
        <th>Differenz</th>
      </tr>
      {% for config in statement.configs %}
        {% for product in ["lightcloud", "heatcloud", "ecloud"] + config["customer_products"] %}
          {% if config[product] %}
            <tr>
              <td>{{ config[product].label }}</td>
              <td>{{ config[product].delivery_begin | dateformat }}</td>
              <td>{{ config[product].delivery_end | dateformat }}</td>
              <td style="text-align: right;">{{ config[product].allowed_usage | numberformat("de", 0) }} kWh</td>
              <td style="text-align: right;">{{ config[product].actual_usage | numberformat("de", 0) }} kWh</td>
              <td style="text-align: right;">{{ config[product].total_extra_usage | numberformat("de", 0) }} kWh</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <tr class="summary">
        <td colspan="5"><b>{% if statement.total_extra_usage > 0 %}Mehrverbrauch{% else %}Minderverbrauch{% endif %}</b></td>
        <td style="text-align: right;">{{ statement.total_extra_usage | numberformat("de", 0) }} kWh</td>
      </tr>
    </table>
    <br>
    <h2>Aufstellung Vorauszahlungen/Kosten</h2>
    <table>
      <tr class="heading">
        <th>Art</th>
        <th>von</th>
        <th>bis</th>
        <th>Soll</th>
        <th>Haben</th>
      </tr>
      {% set total_extra_usage = 0 %}
      {% for config in statement.configs %}
        {% for product in ["lightcloud", "heatcloud", "ecloud"] + config["customer_products"] %}
          {% if config[product] and config[product].total_extra_usage != 0 %}
            <tr>
              <td>
                {{ config[product].label }}
                {% if config[product].total_extra_usage > 0 %}
                  Mehrverbrauch <small>({{ config[product].total_extra_usage | numberformat("de", 0)}} kWh je
                  {{ (config[product].extra_price_per_kwh * 100) | numberformat("de", 2) }} Cent/kWh)</small>
                {% else %}
                  Minderverbrauch <small>({{ config[product].total_extra_usage | numberformat("de", 0)}} kWh
                  ab -250 kWh je {{ (config[product].cashback_price_per_kwh * 100) | numberformat("de", 2) }} Cent/kWh)</small>
                {% endif %}
              </td>
              <td>{{ config[product].delivery_begin | dateformat }}</td>
              <td>{{ config[product].delivery_end | dateformat }}</td>
              <td style="text-align: right; white-space: nowrap;">{% if config[product].total_extra_price > 0 %}{{ config[product].total_extra_price | currencyformat }}{% endif%}</td>
              <td style="text-align: right; white-space: nowrap;">{% if config[product].total_extra_price <= 0 %}{{ -config[product].total_extra_price | currencyformat }}{% endif%}</td>
            </tr>
          {% endif %}
        {% endfor %}

        {% if statement.is_fakturia %}
          <tr>
            <td>
              Cloud Jahresgebühr
            </td>
            <td>{{ config.delivery_begin | dateformat }}</td>
            <td>{{ config.delivery_end | dateformat }}</td>
            <td style="text-align: right; white-space: nowrap;">{% if config.total_cloud_price_incl_refund > 0 %}{{ config.total_cloud_price_incl_refund | currencyformat }}{% endif%}</td>
            <td style="text-align: right; white-space: nowrap;">{% if config.total_cloud_price_incl_refund <= 0 %}{{ -config.total_cloud_price_incl_refund | currencyformat }}{% endif%}</td>
          </tr>
        {% endif %}
      {% endfor %}
      {% if statement.payments %}
        {% for payment in statement.payments %}
          <tr>
            <td>{{ payment.number }}</td>
            <td>{{ payment.date | dateformat }}</td>
            <td></td>
            <td style="text-align: right;">{% if payment.amountGross < 0 %}{{ -payment.amountGross | currencyformat }}{% endif%}</td>
            <td style="text-align: right;">{% if payment.amountGross > 0 %}{{ payment.amountGross | currencyformat }}{% endif%}</td>
          </tr>
        {% endfor %}
      {% endif %}
      {% if statement.extra_credit_value != 0 %}
        <tr>
          <td>{{ statement.extra_credit_label }}</td>
          <td></td>
          <td></td>
          <td style="text-align: right; white-space: nowrap;">{% if statement.extra_credit_value > 0 %}{{ statement.extra_credit_value | currencyformat }}{% endif%}</td>
          <td style="text-align: right; white-space: nowrap;">{% if statement.extra_credit_value < 0 %}{{ -statement.extra_credit_value | currencyformat }}{% endif%}</td>
        </tr>
      {% endif %}
      {% if statement.extra_credit_value2 != 0 %}
        <tr>
          <td>{{ statement.extra_credit_label2 }}</td>
          <td></td>
          <td></td>
          <td style="text-align: right; white-space: nowrap;">{% if statement.extra_credit_value2 > 0 %}{{ statement.extra_credit_value2 | currencyformat }}{% endif%}</td>
          <td style="text-align: right; white-space: nowrap;">{% if statement.extra_credit_value2 < 0 %}{{ -statement.extra_credit_value2 | currencyformat }}{% endif%}</td>
        </tr>
      {% endif %}
      <tr class="summary">
        <td colspan="3"><b>{% if statement.to_pay > 0 %}Noch zu Zahlen{% else %}Auszahlung{% endif%}</b></td>
        <td style="text-align: right; white-space: nowrap;">{% if statement.to_pay > 0 %}{{ statement.to_pay | currencyformat }}{% endif%}</td>
        <td style="text-align: right; white-space: nowrap;">{% if statement.to_pay <= 0 %}{{ -statement.to_pay | currencyformat }}{% endif%}</td>
      </tr>
    </table>
    <br>
    <br>
    {% if statement.to_pay > 0 %}
      Die zu dieser Verbrauchsübersicht zugehörige Rechnung erhalten Sie separat.
    {% else %}
      Die zu dieser Verbrauchsübersicht zugehörige Gutschrift erhalten Sie separat.
    {% endif %}
    Die bisherige Cloudgebühr wird wie vereinbart weiterhin abgebucht.
    <br>
    <br>
    Mit sonnigen Grüssen<br>
    Ihr Team von energie360<br>
    <br>
    <small>* Diese Abrechnung wurde unter Vorbehalt der angegebenen Einspeisemengen berechnet. Sollten sich die Einspeisemengen rückwirkend ändern, so wird diese Abrechnung auch korrigiert. Die Cloudgebühren sowie die Kosten für die Zusatzpakete wurden unter der Tatsache, dass diese regelmäßig bezahlt wurden, erstellt. Sollte dies nicht der Fall sein und noch offene Forderungen unsererseits vorliegen, so werden diese Rechnungen separat angemahnt und verrechnet. Bei Nichtvorliegen EEG-Vergütung, behalten wir uns vor den Verbrauch mit {{ (statement.extra_price_per_kwh * 100 ) | numberformat }} Cent/kWh zu berechnen.</small>
    <img src="{{ base_url }}static/cloud/contract/annual_statement/Stromkennzeichen%20{{ statement.year - 1 }}.jpeg" style="width: 100%; height: auto;" />

    <h2>Zur Abrechnung verwendete Zählerstände</h2>
    <table>
      <tr>
        <th colspan="3">&nbsp;</th>
        <th colspan="2">Stand Alt</th>
        <th colspan="2">Stand Neu</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th>Zählernummer</th>
        <th>Zählerart</th>
        <th>Ablesegrund</th>
        <th style="text-align: right;">Datum</th>
        <th style="text-align: right;">Wert</th>
        <th style="text-align: right;">Datum</th>
        <th style="text-align: right;">Wert</th>
        <th style="text-align: right;">Verbrauch</th>
      </tr>
      {% for counter in statement.counters %}
        <tr>
          <td>{{ counter.number }} {% if counter.type in ["smartme", "smartme/energie360", "energie360/smartme", "Senec"] %}**{% else %}*{% endif %}</td>
          <td>{{ counter.type }}</td>
          <td></td>
          <td style="text-align: right;">{{ counter.start_date | dateformat }}</td>
          <td style="text-align: right;">{{ counter.start_value | numberformat('de', 0) }} kWh</td>
          <td style="text-align: right;">{{ counter.end_date | dateformat }}</td>
          <td style="text-align: right;">{{ counter.end_value | numberformat('de', 0) }} kWh</td>
          <td style="text-align: right;">{{ counter.usage | numberformat('de', 0) }} kWh</td>
        </tr>
      {% endfor %}
    </table>
    <small>
      * Netzbezug<br>
      ** gesamter Hausverbrauch (beinhaltet die Direktabnahme von PV-Anlage, Bezug aus dem Speicher sowie den Netzbezug)<br>
    </small>
    <br>
    {% if statement.estimate_netusage %}
      <br>
      {% if statement.total_self_usage_heatcloud and statement.total_self_usage_heatcloud > 0 %}
        Der in dieser Abrechnung für Sie ermittelte Eigenverbrauchsanteil*** beträgt {{ statement.total_self_usage_lightcloud | numberformat('de', 0) }} kWh für Lichtstrom und {{ statement.total_self_usage_heatcloud | numberformat('de', 0) }} kWh für Wärmestrom von {{ statement.total_self_usage | numberformat('de', 0) }} kWh Gesamtverbrauch. Näheres hierzu können Sie über einen Steuerberater ihrer Wahl erfahren.<br>
      {% else %}
        Der in dieser Abrechnung für Sie ermittelte Eigenverbrauchsanteil*** beträgt {{ statement.total_self_usage | numberformat('de', 0) }} kWh. Näheres hierzu können Sie über einen Steuerberater ihrer Wahl erfahren.<br>
      {% endif %}
      <br>
      *** Der bei Ihnen ermittelte Eigenverbrauchswert basiert auf einer formelbasierten Berechnung und stellt den Richtwert für den von Ihnen zu versteuernden Eigenverbrauchsanteile als steuerbegründenden Wert dar. Die Datenbasis beruht hierbei im Regelfall auf vom Netzbetreiber zyklisch ermittelten Werten, kann durch diesen aber auch geschätzt werden.<br>
      Sollten keine Daten durch den Netzbetreiber vorliegen, werden die Werte für die formelbasierte Berechnung durch Energie 360 im zulässigen Umfang vorläufig auf Basis von vergangenen Netzbetreiberangaben und dem durch uns verbauten Smartme-Zähler geschätzt. Die hierbei durch uns geschätzten Werte können im Einzelfall teilweise im nicht unerheblichen Umfang von den realen Werten abweichen. Entsprechend haftet Energie 360 nicht für hieraus entstehende Schäden, gleich aus welchem Rechtsgrund.<br>
      Ihr Eigenverbrauchsanteil ist hierbei von verschiedenen Umwelt- und Einflussfaktoren abhängig (Beispielsweise: Verbrauchszeitpunkt, Produktionszeitpunkt bzw. -menge, Speicherauslastung und Speicherverlust, individuelle Wärmepumpennutzung).<br>
    {% endif %}
  </div>

</body>
</html>


